@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<MtgDb.Info.CardChange>
@{
  Layout = "_Layout.cshtml";
}

@section Top{
    <div class="t_section">
        <h1>
            Card Change Requet <br /> 
            <small>Multiverse Id: <a href="/cards/@Model.Mvid">@Model.Mvid</a></small>
        </h1>
    </div>
}

<h1>
Version: @Model.Version

@if(@Model.Version == 0)
{
    <span class="label label-info">Original</span>
}
else if(@Model.Status == "Accepted")
{
    <span class="label label-success">Accepted</span>
}
else if(@Model.Status == "Closed")
{
    <span class="label label-danger">Closed</span>
}
else if(@Model.Status == "Pending")
{
   <span class="label label-warning">Pending</span>
}

@if(@Model.User != null)
{
    <small>By: <a href="/pw/@Model.User.Name">@Model.User.Name</a></small>
}
</h1>
<div style="width:800px;">
    <div>
        <table class="table-hover">
        @{ 
            string changed = "";
            changed = Model.FieldState("setnumber");
        }
        <tr class="@changed">
            <td><b>Set #:</b></td>
            <td>@Model.SetNumber</td>

            @if (changed == "changed" && Model.Planeswalker.InRole("admin") ||
            (Model.Planeswalker.InRole("admin") && Model.Version == 0))
            {
                <form action="/change/@Model.Id/field/setNumber" method="post">
                    <td>
                        <input type="submit" class="btn btn-success btn-xs" value="Update" />
                    </td>
                </form>
            }
        </tr>

        @{ changed = Model.FieldState("relatedCardId");}

        <tr class="@changed">
            <td><b>Related Card #:</b></td>
            <td>@Model.RelatedCardId</td>

            @if (changed == "changed" && Model.Planeswalker.InRole("admin") ||
            (Model.Planeswalker.InRole("admin") && Model.Version == 0))
            {
                <form action="/change/@Model.Id/field/relatedCardId" method="post">
                    <td>
                        <input type="submit" class="btn btn-success btn-xs" value="Update" />
                    </td>
                </form>
            }
        </tr>

        @{changed = Model.FieldState("releasedat");}
      
        <tr class="@changed">
            <td><b>Released:</b></td>
            <td>
                @Model.ReleasedAt.ToShortDateString()
            </td>
             @if (changed == "changed" && Model.Planeswalker.InRole("admin") ||
            (Model.Planeswalker.InRole("admin") && Model.Version == 0))
            {
                <form action="/change/@Model.Id/field/releasedAt" method="post">
                    <td>
                        <input type="submit" class="btn btn-success btn-xs" value="Update" />
                    </td>
                </form>
            }
        </tr>

        @{changed = Model.FieldState("colors");}
       
        <tr class="@changed">
            <td><b>Color(s):</b></td>
            <td>
                @String.Join(",", Model.Colors)
            </td>
             @if (changed == "changed" && Model.Planeswalker.InRole("admin") ||
            (Model.Planeswalker.InRole("admin") && Model.Version == 0))
            {
                <form action="/change/@Model.Id/field/colors" method="post">
                    <td>
                        <input type="submit" class="btn btn-success btn-xs" value="Update" />
                    </td>
                </form>
            }
        </tr>
        @{changed = Model.FieldState("manacost");}

        <tr class="@changed">
            <td><b>Mana Cost:</b></td>
            <td>@Model.ManaCost</td>
             @if (changed == "changed" && Model.Planeswalker.InRole("admin") ||
            (Model.Planeswalker.InRole("admin") && Model.Version == 0))
            {
                <form action="/change/@Model.Id/field/manaCost" method="post">
                    <td>
                        <input type="submit" class="btn btn-success btn-xs" value="Update" />
                    </td>
                </form>
            }
        </tr>
        @{changed = Model.FieldState("convertedmanacost");}
       
        <tr class="@changed">
            <td><b>Converted Cost:</b></td>
            <td>@Model.ConvertedManaCost</td>
             @if (changed == "changed" && Model.Planeswalker.InRole("admin") ||
            (Model.Planeswalker.InRole("admin") && Model.Version == 0))
            {
                <form action="/change/@Model.Id/field/convertedManaCost" method="post">
                    <td>
                        <input type="submit" class="btn btn-success btn-xs" value="Update" />
                    </td>
                </form>
            }
        </tr>
        @{changed = Model.FieldState("type");}
       
        <tr class="@changed">
            <td><b>Type:</b></td>
            <td>@Model.Type</td>
            @if (changed == "changed" && Model.Planeswalker.InRole("admin") ||
            (Model.Planeswalker.InRole("admin") && Model.Version == 0))
            {
                <form action="/change/@Model.Id/field/type" method="post">
                    <td>
                        <input type="submit" class="btn btn-success btn-xs" value="Update" />
                    </td>
                </form>
            }
        </tr>
        @{changed = Model.FieldState("subtype");}

        <tr class="@changed">
            <td><b>Sub Type:</b></td>
            <td>@Model.SubType</td>
            @if (changed == "changed" && Model.Planeswalker.InRole("admin") ||
            (Model.Planeswalker.InRole("admin") && Model.Version == 0))
            {
                <form action="/change/@Model.Id/field/subType" method="post">
                    <td>
                        <input type="submit" class="btn btn-success btn-xs" value="Update" />
                    </td>
                </form>
            }
        </tr>
        @{changed = Model.FieldState("flavor");}
       
        <tr class="@changed">
            <td><b>Flavor:</b></td>
            <td>@Model.Flavor</td>
            @if (changed == "changed" && Model.Planeswalker.InRole("admin") ||
            (Model.Planeswalker.InRole("admin") && Model.Version == 0))
            {
                <form action="/change/@Model.Id/field/flavor" method="post">
                    <td>
                        <input type="submit" class="btn btn-success btn-xs" value="Update" />
                    </td>
                </form>
            }
        </tr>
        @{changed = Model.FieldState("description");}

        <tr class="@changed">
            <td><b>Description:</b></td>
            <td>@Model.Description</td>
            @if (changed == "changed" && Model.Planeswalker.InRole("admin") ||
            (Model.Planeswalker.InRole("admin") && Model.Version == 0))
            {
                <form action="/change/@Model.Id/field/description" method="post">
                    <td>
                        <input type="submit" class="btn btn-success btn-xs" value="Update" />
                    </td>
                </form>
            }
        </tr>
        @{changed = Model.FieldState("power");}

        <tr class="@changed">
            <td><b>Power:</b></td>
            <td>@Model.Power</td>
            @if (changed == "changed" && Model.Planeswalker.InRole("admin") ||
            (Model.Planeswalker.InRole("admin") && Model.Version == 0))
            {
                <form action="/change/@Model.Id/field/power" method="post">
                    <td>
                        <input type="submit" class="btn btn-success btn-xs" value="Update" />
                    </td>
                </form>
            }
        </tr>
        @{changed = Model.FieldState("toughness");}

        <tr class="@changed">
            <td><b>Toughness:</b></td>
            <td>@Model.Toughness</td>
            @if (changed == "changed" && Model.Planeswalker.InRole("admin") ||
            (Model.Planeswalker.InRole("admin") && Model.Version == 0))
            {
                <form action="/change/@Model.Id/field/toughness" method="post">
                    <td>
                        <input type="submit" class="btn btn-success btn-xs" value="Update" />
                    </td>
                </form>
            }
        </tr>
        @{changed = Model.FieldState("artist");}

        <tr class="@changed">
            <td><b>Artist:</b></td>
            <td>@Model.Artist</td>
            @if (changed == "changed" && Model.Planeswalker.InRole("admin") ||
            (Model.Planeswalker.InRole("admin") && Model.Version == 0))
            {
                <form action="/change/@Model.Id/field/artist" method="post">
                    <td>
                        <input type="submit" class="btn btn-success btn-xs" value="Update" />
                    </td>
                </form>
            }
        </tr>
        </table>

    </div>
    <br style="clear:both;" />
    <div>
        @{ changed = Model.FieldState("formats");}

        @if (changed == "changed" && Model.Planeswalker.InRole("admin") ||
            (Model.Planeswalker.InRole("admin") && Model.Version == 0))
        {
            <h4>
            Formats
            </h4>
            <form action="/change/@Model.Id/field/formats" method="post">
            <td>
                <input type="submit" class="btn btn-success btn-xs" value="Update" />
            </td>
            </form>
        }
            
        @if(Model.Formats != null && Model.Formats.Length > 0)
        {
            <table id="formats" class="table table-condensed table-hover">
            <tbody>
            @foreach(var format in Model.Formats)
            {
                <tr class="@changed">
                    <td>
                         @format.Name
                    </td>
                    <td>
                        @format.Legality
                    </td>
                </tr>
            }
            </tbody>
            </table>
        }
        else
        {
            <p class="@changed">This card belongs to no format.</p>
        }
    </div>
    <div>
        @{ changed = Model.FieldState("rulings");}
       
        @if (changed == "changed" && Model.Planeswalker.InRole("admin") ||
            (Model.Planeswalker.InRole("admin") && Model.Version == 0))
        {
            <h4>
            Rulings
            </h4>
            <form action="/change/@Model.Id/field/rulings" method="post">
                <input type="submit" class="btn btn-success btn-xs" value="Update" />
            </form>
        }

        @if(Model.Rulings != null && Model.Rulings.Length > 0)
        {
            <table id="rulings" class="table table-condensed table-hover">
            <tbody>
            @foreach(var rule in Model.Rulings)
            {
                <tr id="ruling" class="@changed">
                    <td>
                        @rule.ReleasedAt.ToShortDateString()
                    </td>
                    <td>
                        @rule.Rule.Trim()
                    </td>
                </tr>
            }
            </tbody>
            </table>
        }
        else
        {
            <p class="@changed">This card has no rulings.</p>
        }
    </div>
    <h4>Comments:</h4>
    <p>@Model.Comment</p>
</div>
 
 @if(Model.Planeswalker.InRole("admin"))
 {  
    string status = "close";
    if(@Model.Status == "Closed"){ status = "open"; }
    <form action='@string.Format("/change/{0}/field/{1}",@Model.Id,status)' method="post">
    @if(@Model.Version != 0)
    {
        if(@Model.Status == "Closed")
        {
            <button type="submit" class="btn btn-success">Re-open</button>
        }
        else
        {
            <button type="submit" class="btn btn-danger">Close</button>
        }
    }
    <a class="btn btn-default" href="/cards/@Model.Mvid/logs" role="button">Cancel</a>
    </form>
 }
