@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<MtgDb.Info.CardChange>
@{
  Layout = "_Layout.cshtml";
}

@section Top{
    <div class="t_section">
        <h1>
        Card Change Requet <br /> 
        <small>Multiverse Id: <a href="/cards/@Model.Mvid">@Model.Mvid</a></small>
        </h1>
    </div>
}

<h1>Version: @Model.Version</h1>

<div style="width:800px;">
    <form action="" method="post">
    <div>
        <table class="table-hover">
        @{ string changed = "";}
        @if(@Model.IsFieldChanged("setnumber"))
        {
            changed = "changed";
        }
        <tr class="@changed">
            <td><b>Set #:</b></td>
            <td>@Model.SetNumber</td>

            @if (changed == "changed" && Model.Planeswalker.InRole("admin"))
            {
                <td>
                    <input type="submit" value="Update set number" />
                </td>
            }
        </tr>

        @{changed = "";}
        @if(@Model.IsFieldChanged("releasedat"))
        {
            changed = "changed";
        }
        <tr class="@changed">
            <td><b>Released:</b></td>
            <td>
                @Model.ReleasedAt.ToShortDateString()
            </td>
            @if (changed == "changed" && Model.Planeswalker.InRole("admin"))
            {
                <td>
                    <input type="submit" value="Update released date" />
                </td>
            }
        </tr>
        @{changed = "";}
        @if(@Model.IsFieldChanged("colors"))
        {
            changed = "changed";
        }
        <tr class="@changed">
            <td><b>Color(s):</b></td>
            <td>
                @String.Join(",", Model.Colors)
            </td>
            @if (changed == "changed" && Model.Planeswalker.InRole("admin"))
            {
                <td>
                    <input type="submit" value="Update colors" />
                </td>
            }
        </tr>
        @{changed = "";}
        @if(@Model.IsFieldChanged("manacost"))
        {
            changed = "changed";
        }
        <tr class="@changed">
            <td><b>Mana Cost:</b></td>
            <td>@Model.ManaCost</td>
            @if (changed == "changed" && Model.Planeswalker.InRole("admin"))
            {
                <td>
                    <input type="submit" value="Update mana costs" />
                </td>
            }
        </tr>
        @{changed = "";}
        @if(@Model.IsFieldChanged("convertedManaCost"))
        {
            changed = "changed";
        }
        <tr class="@changed">
            <td><b>Converted Cost:</b></td>
            <td>@Model.ConvertedManaCost</td>
            @if (changed == "changed" && Model.Planeswalker.InRole("admin"))
            {
                <td>
                    <input type="submit" value="Update converted cost" />
                </td>
            }
        </tr>
        @{changed = "";}
        @if(@Model.IsFieldChanged("type"))
        {
            changed = "changed";
        }
        <tr class="@changed">
            <td><b>Type:</b></td>
            <td>@Model.Type</td>
            @if (changed == "changed" && Model.Planeswalker.InRole("admin"))
            {
                <td>
                    <input type="submit" value="Update type" />
                </td>
            }
        </tr>
        @{changed = "";}
        @if(@Model.IsFieldChanged("subtype"))
        {
            changed = "changed";
        }
        <tr class="@changed">
            <td><b>Sub Type:</b></td>
            <td>@Model.SubType</td>
            @if (changed == "changed" && Model.Planeswalker.InRole("admin"))
            {
                <td>
                    <input type="submit" value="Update subtype" />
                </td>
            }
        </tr>
        @{changed = "";}
        @if(@Model.IsFieldChanged("flavor"))
        {
            changed = "changed";
        }
        <tr class="@changed">
            <td><b>Flavor:</b></td>
            <td>@Model.Flavor</td>
            @if (changed == "changed" && Model.Planeswalker.InRole("admin"))
            {
                <td>
                    <input type="submit" value="Update flavor" />
                </td>
            }
        </tr>
        @{changed = "";}
        @if(@Model.IsFieldChanged("description"))
        {
            changed = "changed";
        }
        <tr class="@changed">
            <td><b>Text:</b></td>
            <td>@Model.Description</td>
            @if (changed == "changed" && Model.Planeswalker.InRole("admin"))
            {
                <td>
                    <input type="submit" value="Update description" />
                </td>
            }
        </tr>
        @{changed = "";}
        @if(@Model.IsFieldChanged("power"))
        {
            changed = "changed";
        }
        <tr class="@changed">
            <td><b>Power:</b></td>
            <td>@Model.Power</td>
            @if (changed == "changed" && Model.Planeswalker.InRole("admin"))
            {
                <td>
                    <input type="submit" value="Update power" />
                </td>
            }
        </tr>
        @{changed = "";}
        @if(@Model.IsFieldChanged("toughness"))
        {
            changed = "changed";
        }
        <tr class="@changed">
            <td><b>Toughness:</b></td>
            <td>@Model.Toughness</td>
            @if (changed == "changed" && Model.Planeswalker.InRole("admin"))
            {
                <td>
                    <input type="submit" value="Update toughness" />
                </td>
            }
        </tr>
        @{changed = "";}
        @if(@Model.IsFieldChanged("artist"))
        {
            changed = "changed";
        }
        <tr class="@changed">
            <td><b>Artist:</b></td>
            <td>@Model.Artist</td>
            @if (changed == "changed" && Model.Planeswalker.InRole("admin"))
            {
                <td>
                    <input type="submit" value="Update artist" />
                </td>
            }
        </tr>
        </table>

    </div>
    <br style="clear:both;" />
    <div>
        <h4>
            Formats
        </h4>
        @{ changed = "";}
        @if(@Model.IsFieldChanged("formats"))
        {
            changed = "changed";
        }
            
        @if(Model.Formats != null && Model.Formats.Length > 0)
        {
            if (changed == "changed" && Model.Planeswalker.InRole("admin"))
            {
                <input type="submit" value="Update formats" />
            }
            <table id="formats" class="table table-condensed table-hover">
            <tbody>
            @foreach(var format in Model.Formats)
            {
                <tr class="@changed">
                    <td>
                         @format.Name
                    </td>
                    <td>
                        @format.Legality
                    </td>
                </tr>
            }
            </tbody>
            </table>
        }
        else
        {
            <p>This card belongs to no format.</p>
        }
    </div>
    <div>
        <h4>
        Rulings
        </h4>
        @{ changed = "";}
        @if(@Model.IsFieldChanged("rulings"))
        {
            changed = "changed";
        }

        @if(Model.Rulings != null && Model.Rulings.Length > 0)
        {
            <table id="rulings" class="table table-condensed table-hover">
            <tbody>
            @foreach(var rule in Model.Rulings)
            {
                <tr id="ruling" class="@changed">
                    <td>
                        @rule.ReleasedAt.ToShortDateString()
                    </td>
                    <td>
                        @rule.Rule.Trim();
                    </td>
                </tr>
            }
            </tbody>
            </table>
        }
        else
        {
            <p>This card has no rulings.</p>
        }
    </form>

</div>



