@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<MtgDb.Info.CardLogsModel>
@{
  Layout = "_Layout.cshtml";
}
 
@section Top{
    <div class="t_section">
        <h1>
            Change Request History <br /> 
            <small>Multiverse Id: <a href="/cards/@Model.Mvid">@Model.Mvid</a></small>
        </h1>
    </div>
}
   
@foreach(var change in Model.Changes)
{
    if(change.Version == 0)
    {
        <div>
            <h4>Original</h4>
        </div> 
    }
    else
    {
        <div class="well">
            <h4>Version: <a href="/cards/@Model.Mvid/logs/@change.Id"> @change.Version </a>
            @if(@change.Status == "Accepted")
            {
                <span class="label label-success pull-right">Accepted</span>
            }
            else if(@change.Status == "Closed")
            {
                <span class="label label-danger pull-right">Closed</span>
            }
            else
            {
                <span class="label label-warning pull-right">Pending</span>
            }
            </h4>
            <div style="float:left;">
            <b>Changes:</b>
            @foreach(var field in @change.FieldsUpdated)
            {
                <span class="badge">@field</span>
            }
            <br />
            <h4><small>By: <a href="/pw/@change.User.Name">@change.User.Name</a></small></h4>
            On
            @change.CreatedAt.ToShortDateString() @change.CreatedAt.ToShortTimeString()
            </div>
            <div style="float:right;">
            <b>Committed Changes:</b><br />
            @if(@change.ChangesCommitted != null && @change.ChangesCommitted.Length > 0)
            {
                foreach(var field in @change.ChangesCommitted)
                {
                    <span class="label label-success">@field</span>
                }
            }
            else
            {
                <span>No changes committed.</span>
            }
            </div>

            <br style="clear:both;"/>
        </div>   
    }
}