@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<MtgDb.Info.CardChange>
@{
  Layout = "_Layout.cshtml";
}
 
@section Top{
    <div class="t_section">
    <h1>
    Submit a card update <br /> 
    <small>Multiverse Id: <a href="/cards/@Model.Mvid">@Model.Mvid</a></small>
    </h1>
    </div>
}

<div style="width:1200px;">
    <form action="/cards/@Model.Mvid/change" method="post">
    <div id="card_@Model.Mvid" class="card">
        @{ string imageUrl = string.Format("https://api.mtgdb.info/content/card_images/{0}.jpeg", @Model.Mvid);}
        <img src="@imageUrl" />
    </div>

    <div class="card_info_edit">
        <table class="table-hover">
        <tr>
            <td><b>Set #:</b></td>
            <td><input type="number" name="SetNumber" value="@Model.SetNumber" /></td>
        </tr>
        <tr>
            <td><b>Related Card #:</b></td>
            <td><input type="number" name="RelatedCardId" value="@Model.RelatedCardId" /></td>
        </tr>
        <tr>
            <td><b>Released:</b></td>
            <td><input type="text" class="rdate" name="ReleasedAt" 
                    value="@Model.ReleasedAt.ToShortDateString()" /></td>
        </tr>
        <tr>
            <td><b>Color(s):</b></td>
            <td>
                <input type="text" name="Colors" value='@String.Join(",", Model.Colors)' />
            </td>
        </tr>
        <tr>
            <td><b>Mana Cost:</b></td>
            <td><input type="text" name="ManaCost" value="@Model.ManaCost" /></td>
        </tr>
        <tr>
            <td><b>Converted Cost:</b></td>
            <td><input type="number" name="ConvertedManaCost" value="@Model.ConvertedManaCost" /></td>
        </tr>
        <tr>
            <td><b>Type:</b></td>
            <td><input type="text" name="Type" value="@Model.Type" /></td>
        </tr>
        <tr>
            <td><b>Sub Type:</b></td>
            <td><input type="text" name="SubType" value="@Model.SubType" /></td>
        </tr>
        <tr>
            <td><b>Flavor:</b></td>
            <td><textarea rows="8" cols="100" name="Flavor">@Model.Flavor</textarea></td>
        </tr>
        <tr>
            <td><b>Text:</b></td>
            <td><textarea rows="8" cols="100" name="Description">@Model.Description</textarea></td>
        </tr>
        <tr>
            <td><b>Power:</b></td>
            <td><input type="number" name="Power" value="@Model.Power" /></td>
        </tr>
        <tr>
            <td><b>Toughness:</b></td>
            <td><input type="number" name="Toughness" value="@Model.Toughness" /></td>
        </tr>
        <tr>
            <td><b>Artist:</b></td>
            <td><input type="text" name="Artist" value="@Model.Artist" /></td>
        </tr>
        </table>

    </div>
    <br style="clear:both;" />
    <div>
        <h4>
            Formats <a href="#" id="add_format"><span class="glyphicon glyphicon-plus-sign"></span></a>
        </h4>

        @if(Model.Formats != null && Model.Formats.Length > 0)
        {
            <input id="format_count" type="hidden" value="@Model.Formats.Length" />
            int i = 0;
            <table id="formats" class="table table-condensed table-hover">
            <tbody>
            @foreach(var format in Model.Formats)
            {
                <tr id="format_@i">
                    <td>
                        <input type="text" name="Formats[@i].Name" 
                                value="@format.Name" />
                    </td>
                    <td>
                        <input type="text" name="Formats[@i].Legality" 
                                value="@format.Legality" />
                    </td>
                    <td>
                        <a href="#" onclick="removeFormat('format_@i');">
                        <span class="glyphicon glyphicon-minus-sign"></span></a>
                    </td>
                </tr>
                ++i;
            }
            </tbody>
            </table>
        }
        else
        {
            <p>This card belongs to no format.</p>
        }
    </div>
    <div>
        <h4>
        Rulings <a href="#" id="add_ruling"><span class="glyphicon glyphicon-plus-sign"></span></a>
        </h4>

        @if(Model.Rulings != null && Model.Rulings.Length > 0)
        {
            <input id="ruling_count" type="hidden" value="@Model.Rulings.Length" />
            int i = 0;
            <table id="rulings" class="table table-condensed table-hover">
            <tbody>
            @foreach(var rule in Model.Rulings)
            {
                <tr id="ruling_@i">
                    <td>
                        <input type="text" class="rdate" name="Rulings[@i].ReleasedAt" 
                                value="@rule.ReleasedAt.ToShortDateString()" required />
                    </td>
                    <td>
                        <textarea rows="8" cols="100" name="Rulings[@i].Rule" required >@rule.Rule.Trim()</textarea>
                    </td>
                    <td>
                        <a href="#" onclick="removeRuling('ruling_@i');">
                        <span class="glyphicon glyphicon-minus-sign"></span></a>
                    </td>
                </tr>
                ++i;
            }
            </tbody>
            </table>
        }
        else
        {
            <p>This card has no rulings.</p>
        }
    </div>
    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
    <a class="btn btn-default btn-lg" href="/cards/@Model.Mvid" role="button">Cancel</a>
    </form>
</div>

<script>
    $(function() {
        $( ".rdate" ).datepicker();
    });

    $("#add_ruling").click(function(){
        var count = parseInt($("#ruling_count").val()) + 1;
        $("#ruling_count").val(count);

        $('#rulings > tbody:last').append('<tr id="ruling_' + count + '"><td><input type="text" class="rdate" name="Rulings[' +  count
        + '].ReleasedAt" value="" placeholder="Enter date" required /></td><td><textarea rows="8" cols="100" name="Rulings[' + count + 
        '].Rule" required></textarea></td> <td><a href="#" onclick="removeRuling(\'ruling_' + count + '\');"><span class="glyphicon glyphicon-minus-sign"></span></a></td></tr>');
        $( ".rdate" ).datepicker();
    }); 

    function removeRuling(id)
    {
        //alert(id);
        $('#' + id).remove();
        return false;
    }

    $("#add_format").click(function(){
        var count = parseInt($("#format_count").val()) + 1;
        $("#format_count").val(count);

        $('#formats > tbody:last').append('<tr id="format_' + count + '"><td><input type="text" name="Formats[' +  count
        + '].Name" value="" required /></td><td><input type="text" name="Formats[' + count + 
        '].Legality" value="" /></td> <td><a href="#" onclick="removeFormat(\'format_' + count + '\');"><span class="glyphicon glyphicon-minus-sign"></span></a></td></tr>');
    }); 

    function removeFormat(id)
    {
        //alert(id);
        $('#' + id).remove();
        return false;
    }

</script>

