@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<MtgDb.Info.CardChange>
@{
  Layout = "_Layout.cshtml";
}

@section Top{
    <div class="t_section">
        <h1>
            Card Change Requet <br /> 
            <small>Multiverse Id: <a href="/cards/@Model.Mvid">@Model.Mvid</a></small>
        </h1>
    </div>
}

<h1>
Version: @Model.Version
@if(@Model.Status == null)
{
    <span class="label label-warning">Pending</span>
}
else if(@Model.Status == "Accepted")
{
    <span class="label label-success">Accepted</span>
}
else if(@Model.Status == "Declined")
{
    <span class="label label-danger">Declined</span>
}
else
{
    <span class="label label-warning">Pending</span>
}
</h1>

<div style="width:800px;">
    <div>
        <table class="table-hover">
        @{ string changed = "";}

        @if(@Model.IsAccepted("setnumber"))
        {
            changed = "accepted";
        }
        else if(@Model.IsFieldChanged("setnumber"))
        {
            changed = "changed";
        }

        <tr class="@changed">
            <td><b>Set #:</b></td>
            <td>@Model.SetNumber</td>

            @if (changed == "changed" && Model.Planeswalker.InRole("admin"))
            {
                <form action="/change/@Model.Id/field/setNumber" method="post">
                    <td>
                        <input type="submit" value="Update" />
                    </td>
                </form>
            }
        </tr>

        @{changed = "";}
        @if(@Model.IsAccepted("releasedat"))
        {
            changed = "accepted";
        }
        else if(@Model.IsFieldChanged("releasedat"))
        {
            changed = "changed";
        }

        <tr class="@changed">
            <td><b>Released:</b></td>
            <td>
                @Model.ReleasedAt.ToShortDateString()
            </td>
            @if (changed == "changed" && Model.Planeswalker.InRole("admin"))
            {
                <form action="/change/@Model.Id/field/releasedAt" method="post">
                    <td>
                        <input type="submit" value="Update" />
                    </td>
                </form>
            }
        </tr>

        @{changed = "";}

        @if(@Model.IsAccepted("colors"))
        {
            changed = "accepted";
        }
        else if(@Model.IsFieldChanged("colors"))
        {
            changed = "changed";
        }

        <tr class="@changed">
            <td><b>Color(s):</b></td>
            <td>
                @String.Join(",", Model.Colors)
            </td>
            @if (changed == "changed" && Model.Planeswalker.InRole("admin"))
            {
                <form action="/change/@Model.Id/field/colors" method="post">
                    <td>
                        <input type="submit" value="Update" />
                    </td>
                </form>
            }
        </tr>
        @{changed = "";}

        @if(@Model.IsAccepted("manacost"))
        {
            changed = "accepted";
        }
        else if(@Model.IsFieldChanged("manacost"))
        {
            changed = "changed";
        }

        <tr class="@changed">
            <td><b>Mana Cost:</b></td>
            <td>@Model.ManaCost</td>
            @if (changed == "changed" && Model.Planeswalker.InRole("admin"))
            {
                <form action="/change/@Model.Id/field/manaCost" method="post">
                    <td>
                        <input type="submit" value="Update" />
                    </td>
                </form>
            }
        </tr>
        @{changed = "";}

        @if(@Model.IsAccepted("convertedmanacost"))
        {
            changed = "accepted";
        }
        else if(@Model.IsFieldChanged("convertedManaCost"))
        {
            changed = "changed";
        }
        <tr class="@changed">
            <td><b>Converted Cost:</b></td>
            <td>@Model.ConvertedManaCost</td>
            @if (changed == "changed" && Model.Planeswalker.InRole("admin"))
            {
                <form action="/change/@Model.Id/field/convertedManaCost" method="post">
                    <td>
                        <input type="submit" value="Update" />
                    </td>
                </form>
            }
        </tr>
        @{changed = "";}

        @if(@Model.IsAccepted("type"))
        {
            changed = "accepted";
        }
        else if(@Model.IsFieldChanged("type"))
        {
            changed = "changed";
        }
        <tr class="@changed">
            <td><b>Type:</b></td>
            <td>@Model.Type</td>
            @if (changed == "changed" && Model.Planeswalker.InRole("admin"))
            {
                <form action="/change/@Model.Id/field/type" method="post">
                    <td>
                        <input type="submit" value="Update" />
                    </td>
                </form>
            }
        </tr>
        @{changed = "";}

        @if(@Model.IsAccepted("subtype"))
        {
            changed = "accepted";
        }
        else if(@Model.IsFieldChanged("subtype"))
        {
            changed = "changed";
        }
        <tr class="@changed">
            <td><b>Sub Type:</b></td>
            <td>@Model.SubType</td>
            @if (changed == "changed" && Model.Planeswalker.InRole("admin"))
            {
                <form action="/change/@Model.Id/field/subType" method="post">
                    <td>
                        <input type="submit" value="Update" />
                    </td>
                </form>
            }
        </tr>
        @{changed = "";}

        @if(@Model.IsAccepted("flavor"))
        {
            changed = "accepted";
        }
        else if(@Model.IsFieldChanged("flavor"))
        {
            changed = "changed";
        }

        <tr class="@changed">
            <td><b>Flavor:</b></td>
            <td>@Model.Flavor</td>
            @if (changed == "changed" && Model.Planeswalker.InRole("admin"))
            {
                <form action="/change/@Model.Id/field/flavor" method="post">
                    <td>
                        <input type="submit" value="Update" />
                    </td>
                </form>
            }
        </tr>
        @{changed = "";}

        @if(@Model.IsAccepted("description"))
        {
            changed = "accepted";
        }
        else if(@Model.IsFieldChanged("description"))
        {
            changed = "changed";
        }

        <tr class="@changed">
            <td><b>Description:</b></td>
            <td>@Model.Description</td>
            @if (changed == "changed" && Model.Planeswalker.InRole("admin"))
            {
                <form action="/change/@Model.Id/field/description" method="post">
                    <td>
                        <input type="submit" value="Update" />
                    </td>
                </form>
            }
        </tr>
        @{changed = "";}

        @if(@Model.IsAccepted("power"))
        {
            changed = "accepted";
        }
        else if(@Model.IsFieldChanged("power"))
        {
            changed = "changed";
        }

        <tr class="@changed">
            <td><b>Power:</b></td>
            <td>@Model.Power</td>
            @if (changed == "changed" && Model.Planeswalker.InRole("admin"))
            {
                <form action="/change/@Model.Id/field/power" method="post">
                    <td>
                        <input type="submit" value="Update" />
                    </td>
                </form>
            }
        </tr>
        @{changed = "";}

        @if(@Model.IsAccepted("toughness"))
        {
            changed = "accepted";
        }
        else if(@Model.IsFieldChanged("toughness"))
        {
            changed = "changed";
        }

        <tr class="@changed">
            <td><b>Toughness:</b></td>
            <td>@Model.Toughness</td>
            @if (changed == "changed" && Model.Planeswalker.InRole("admin"))
            {
                <form action="/change/@Model.Id/field/toughness" method="post">
                    <td>
                        <input type="submit" value="Update" />
                    </td>
                </form>
            }
        </tr>
        @{changed = "";}

        @if(@Model.IsAccepted("artist"))
        {
            changed = "accepted";
        }
        else if(@Model.IsFieldChanged("artist"))
        {
            changed = "changed";
        }

        <tr class="@changed">
            <td><b>Artist:</b></td>
            <td>@Model.Artist</td>
            @if (changed == "changed" && Model.Planeswalker.InRole("admin"))
            {
                <form action="/change/@Model.Id/field/artist" method="post">
                    <td>
                        <input type="submit" value="Update" />
                    </td>
                </form>
            }
        </tr>
        </table>

    </div>
    <br style="clear:both;" />
    <div>
        <h4>
            Formats
        </h4>
        @{ changed = "";}

        @if(@Model.IsAccepted("formats"))
        {
            changed = "accepted";
        }
        else if(@Model.IsFieldChanged("formats"))
        {
            changed = "changed";
        }
            
        @if(Model.Formats != null && Model.Formats.Length > 0)
        {
            if (changed == "changed" && Model.Planeswalker.InRole("admin"))
            {
                <form action="/change/@Model.Id/field/formats" method="post">
                    <td>
                        <input type="submit" value="Update" />
                    </td>
                </form>
            }
            <table id="formats" class="table table-condensed table-hover">
            <tbody>
            @foreach(var format in Model.Formats)
            {
                <tr class="@changed">
                    <td>
                         @format.Name
                    </td>
                    <td>
                        @format.Legality
                    </td>
                </tr>
            }
            </tbody>
            </table>
        }
        else
        {
            <p>This card belongs to no format.</p>
        }
    </div>
    <div>
        <h4>
        Rulings
        </h4>
        @{ changed = "";}

        @if(@Model.IsAccepted("rulings"))
        {
            changed = "accepted";
        }
        else if(@Model.IsFieldChanged("rulings"))
        {
            changed = "changed";
            <form action="/change/@Model.Id/field/rulings" method="post">
                <input type="submit" value="Update" />
            </form>
        }

        @if(Model.Rulings != null && Model.Rulings.Length > 0)
        {
            <table id="rulings" class="table table-condensed table-hover">
            <tbody>
            @foreach(var rule in Model.Rulings)
            {
                <tr id="ruling" class="@changed">
                    <td>
                        @rule.ReleasedAt.ToShortDateString()
                    </td>
                    <td>
                        @rule.Rule.Trim()
                    </td>
                </tr>
            }
            </tbody>
            </table>
        }
        else
        {
            <p>This card has no rulings.</p>
        }
    </div>
</div>

