@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<MtgDb.Info.ChangeRequestModel>
@{
  Layout = "_Layout.cshtml";
}
 
@section Top{
    <div class="t_section">
    <h1>
    Change Requests
    </h1>
    </div>
}
Filter: 
    <span class="label label-success"><a href="/cr/Accepted">A</a></span>
    <span class="label label-warning"><a href="/cr/Pending">P</a></span>
    <span class="label label-danger"><a href="/cr/Closed">C</a></span>
    <span class="label label-info"><a href="/cr/">ALL</a></span>
<br />
<div id="cardchange" style="float:left;">
<h4>Card Changes</h4>
<table class="table-striped table-hover table-condensed">
<tbody>
@foreach(var change in Model.Changes)
{
    <tr>
        <td>
            @if(@change.Status == "Pending")
            {
                <span class="label label-warning">P</span>
            }
            else if(@change.Status == "Accepted")
            {
                <span class="label label-success">A</span>
            }
            else if(@change.Status == "Closed")
            {
                <span class="label label-danger">C</span>
            }
        </td>
        <td>
            <a href="/cards/@change.Mvid/logs/@change.Id">@change.Mvid</a>
        </td>
        <td>
            <b>Version: @change.Version</b>
        </td>
        <td>
            @if(change.User != null)
            {
                <span>By:</span> <a href="/pw/@change.User.Name">@change.User.Name</a>
                <span>On: @change.CreatedAt.ToString()</span>
            }
        </td>
    </tr>
}
</tbody>
</table>
</div>

<div id="cards" style="float:left;">
<h4>New Cards</h4>
<table class="table-striped table-hover table-condensed">
<tbody>
@foreach(var card in Model.NewCards)
{
    <tr>
        <td>
            @if(@card.Status == "Pending")
            {
                <span class="label label-warning">P</span>
            }
            else if(@card.Status == "Accepted")
            {
                <span class="label label-success">A</span>
            }
            else if(@card.Status == "Closed")
            {
                <span class="label label-danger">C</span>
            }
        </td>
        <td>
        <a href="/cards/new/@card.Id">@card.Name</a>
        </td>
        <td>
            @if(card.User != null)
            {
                <span>By:</span> <a href="/pw/@card.User.Name">@card.User.Name</a>
                <span>On: @card.CreatedAt.ToString()</span>
            }
        </td>
    </tr>
}
</tbody>
</table>
</div>
<br style="clear:both;" />
<div id="sets" style="float:left;">
<h4>New Sets</h4>
<table class="table-striped table-hover table-condensed">
<tbody>
@foreach(var set in Model.NewSets)
{
    <tr>
        <td>
            @if(@set.Status == "Pending")
            {
                <span class="label label-warning">P</span>
            }
            else if(@set.Status == "Accepted")
            {
                <span class="label label-success">A</span>
            }
            else if(@set.Status == "Closed")
            {
                <span class="label label-danger">C</span>
            }
        </td>
        <td>
        <a href="/sets/new/@set.Id">@set.Name</a>
        </td>
        <td>
            @if(set.User != null)
            {
                <span>By:</span> <a href="/pw/@set.User.Name">@set.User.Name</a>
                <span>On: @set.CreatedAt.ToString()</span>
            }
        </td>
    </tr>
}
</tbody>
</table>
</div>
<br style="clear:both;" />


