@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<MtgDb.Info.NewSet>
@{
  Layout = "_Layout.cshtml";
}
 
@section Top{
    <div class="t_section">
    <h1>
        Submit a new set
    </h1>
    </div>
}

<div style="width:1200px;">
    <form action="/sets/new" method="post">
    <div class="card_info_edit">
        <table class="table-hover">
        <tr>
            <td><b>Set Id:</b></td>
            <td><input type="text" name="SetId" value="@Model.SetId" /></td>
        </tr>
        <tr>
            <td><b>Name:</b></td>
            <td><input type="text" name="Name" value="@Model.Name" /></td>
        </tr>
        <tr>
            <td><b>Block:</b></td>
            <td><input type="text" name="Block" 
                    value="@Model.Block" /></td>
        </tr>
        <tr>
            <td><b>Type:</b></td>
            <td><input type="text" name="Type" value="@Model.Type" /></td>
        </tr>
        <tr>
            <td style="vertical-align:top;"><b>Description:</b></td>
            <td><textarea rows="4" cols="50" name="Description">@Model.Description</textarea>
            </td>
        </tr>
        <tr>
            <td><b>Common:</b></td>
            <td><input type="number" name="Common" value="@Model.Common" /></td>
        </tr>
        <tr>
            <td><b>Uncommon:</b></td>
            <td><input type="number" name="Uncommon" value="@Model.Uncommon" /></td>
        </tr>
        <tr>
            <td><b>Rare:</b></td>
            <td><input type="number" name="Rare" value="@Model.Rare" /></td>
        </tr>
        <tr>
            <td><b>Mythic Rare:</b></td>
            <td><input type="number" name="MythicRare" value="@Model.MythicRare" /></td>
        </tr>
        <tr>
            <td><b>Basic Land:</b></td>
            <td><input type="number" name="BasicLand" value="@Model.BasicLand" /></td>
        </tr>
        <tr>
            <td><b>Released:</b></td>
            <td><input type="text" name="ReleasedAt" class="rdate" value="@Model.ReleasedAt" /></td>
        </tr>
        <tr>
            <td><b>Comments:</b></td>
            <td><textarea rows="4" cols="50" name="Comment" required>@Model.Comment</textarea></td>
        </tr>
        </table>
    </div>
    <br style="clear:both;" />
    <br />
    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
    <a class="btn btn-default btn-lg" href="/sets" role="button">Cancel</a>
    </form>
</div>


