@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<MtgDb.Info.Deck>
<div>
<ul style="list-style-type: none;margin-left:0px;padding: 0">
@foreach(var card in @Model.GetCards())
{
    <li>
    @Model.CardCount(card.Id) <a href='@string.Format("https://www.mtgdb.info/cards/{0}", @card.Id)'>@card.Name</a>
    </li>
}
@foreach(var card in @Model.GetSideBoardCards())
{
    <li>
    SB: @Model.SideBoardCardCount(card.Id) <a href='@string.Format("https://www.mtgdb.info/cards/{0}", @card.Id)'>@card.Name</a>
    </li>
}
</ul>
@if(!string.IsNullOrEmpty(Model.Description))
{
    <h4>Description:</h4>
    <p>
        @Model.Description
    </p>
}
</div>