@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<MtgDb.Info.DecksModel>
@{
  Layout = "_Layout.cshtml";
}

@section Top
{
    <h4>My Decks <span class="label label-warning">In-Development</span></h4>
}
<a href="/decks/viewer" class="btn btn-primary">Create Deck</a>
<div>
@foreach(var deck in @Model.Decks)
{
    <a href='@string.Format("/decks/viewer/{0}",@deck.Id)' style="display:block">
    <div 
    style="float: left;width:112px;height:156px;background-image: url(https://api.mtgdb.info/content/card_images/back.jpeg);background-size: 112px 156px;" class="my-card">
    <div style="background:rgba(255, 255, 255, .6);width: 100px;height:140px;margin: 5px;z-index: 1;color:black;padding:5px;">
        <b>@deck.Name</b>
        <div>@deck.Description</div>
        <div>Cards: @deck.Cards.Count</div>
        <div>Side Board: @deck.SideBoard.Count</div>
    </div>
    </div>
    </a>
}
</div>
<br style="clear:both;" />


