@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<MtgDb.Info.CardInfo[]>
<div class="binder-page" id="binder">
@{
	int cardIdx = 0;
}
@foreach(var cardInfo in Model)
{
	cardIdx++;
    string color = cardInfo.Amount > 0 ? "" : "dontown";
    string description = cardInfo.Card.Description.Replace("\"","'");
    string name = cardInfo.Card.Name.Replace("\"","'");
    string tooltipPlacement = "right";
    if(this.Html.CurrentUser == null)
    {
        color = "";
    }
	if(cardIdx % 3 == 0)
	{
		tooltipPlacement = "left";
	}

   
    <div class="card card-@cardIdx" id="card_@cardInfo.Card.Id">
    	<a href="~/cards/@cardInfo.Card.Id">
	        <img id="img_@cardInfo.Card.Id" class="tip @color" src="@cardInfo.Card.CardImage"/>
	    </a>
	    @if(@Html.CurrentUser != null)
	    {
	        <div class="card-amount">
    			<div class="input-group">
      				<span class="input-group-btn">
        				<button class="btn btn-danger" type="button" onclick="minusCard(@cardInfo.Card.Id);"><i class="fa fa-minus"></i></button>
      				</span>
      				<input type="text" class="form-control" id="@cardInfo.Card.Id" type="text" onkeyup="changeAmount(@cardInfo.Card.Id);"
	            placeholder="0" value="@cardInfo.Amount">
      				<span class="input-group-btn">
        				<button class="btn btn-success" type="button" onclick="addCard(@cardInfo.Card.Id);"><i class="fa fa-plus"></i></button>
      				</span>
    			</div><!-- /input-group -->
	        </div>
	    }
    </div>
}
<br style="clear:both;"/>
</div>
<script>
$('.tip').tooltip();
</script>


