@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<MtgDb.Info.CardInfo[]>

<div class="well" style="width:800px;margin-left: auto; margin-right: auto ;">
@foreach(var cardInfo in Model)
{
    <div class="col-6 col-sm-6 col-lg-4">
        <div style="text-align:center;">
        <a href="~/cards/@cardInfo.Card.Id" class="thumbnail">
            <img src="@cardInfo.Card.CardImage" />
        </a>
        @if(@Html.CurrentUser != null)
        {
            <button type="button" class="btn btn-danger" onclick="minusCard(@cardInfo.Card.Id);">-</button>
            <input id="@cardInfo.Card.Id" type="text" style="width:30px;" onkeyup="changeAmount(@cardInfo.Card.Id);"
            placeholder="0" value="@cardInfo.Amount"/>
            <button type="button" class="btn btn-success" onclick="addCard(@cardInfo.Card.Id);">+</button>
        }
        </div>
    </div>
}
<br style="clear:both;"/>
</div>


