@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<MtgDb.Info.CardInfo[]>

<div class="well" style="width:800px;margin-left: auto; margin-right: auto ;">
@foreach(var cardInfo in Model)
{
    string color = cardInfo.Amount > 0 ? "" : "dontown";
    string description = cardInfo.Card.Description.Replace("\"","'");

    if(this.Html.CurrentUser == null)
    {
        color = "";
    }

    <div class="col-6 col-sm-6 col-lg-4">
        <div style="text-align:center;">
        <a href="~/cards/@cardInfo.Card.Id" class="thumbnail">
            <img id="img_@cardInfo.Card.Id" class="tool @color" src="@cardInfo.Card.CardImage" 
            data-toggle="tooltip" data-placement="left" title="<b>@cardInfo.Card.Name</b> #@cardInfo.Card.SetNumber<br /> @description <br /><span class='label label-primary'>@cardInfo.Card.Power &#47; @cardInfo.Card.Toughness</span><br />" 
            data-html="true" />
        </a>
        @if(@Html.CurrentUser != null)
        {
            <div style="margin-top:-15px;padding-bottom:5px;">
                <button type="button" class="btn btn-danger" onclick="minusCard(@cardInfo.Card.Id);">-</button>
                <input id="@cardInfo.Card.Id" type="text" style="width:30px;" onkeyup="changeAmount(@cardInfo.Card.Id);"
                placeholder="0" value="@cardInfo.Amount"/>
                <button type="button" class="btn btn-success" onclick="addCard(@cardInfo.Card.Id);">+</button>
            </div>
        }
        </div>
    </div>
}
<br style="clear:both;"/>
</div>
<script>
    $('.tool').tooltip();
</script>


