@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>M:tgDb.Info</title>
    <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css" />
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <link href="~/content/css/select2.css" rel="stylesheet"/>
    <script src="~/content/javascript/select2.min.js"></script>
    <script src="~/content/javascript/mtgdb.info.js"></script>

    <!-- Custom styles for this template -->
    <link href="~/content/css/mtgdb.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <div class="navbar-xs">
   <div class="navbar-primary">
       <nav class="navbar navbar-static-top" role="navigation">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-8">
                 <span class="sr-only">Toggle navigation</span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">M:tgDb 
              <img src="/content/images/logo.png" style="width:17px;height:17px;"/></a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-8">
                <ul class="nav navbar-nav">
                  <li class="active"><a href="~/sets">Sets</a></li>
                  <li><a href="~/search">Search</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" style="margin-right:10px;">
                @if(@Model.Planeswalker != null)
                {
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Model.Planeswalker.UserName <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="~/@Model.Planeswalker.UserName/cards">My Cards</a></li>
                        <li class="divider"></li>
                        <li><a href="~/@Model.Planeswalker.UserName">Profile</a></li>
                        <li><a href="~/settings/">Settings</a></li>
                        <li><a href="~/logout/?url=@Html.RenderContext.Context.Request.Path">Sign Out</a></li>
                    </ul>
                    </li>
                }
                else
                {
                  <li><a href="~/logon?url=@Html.RenderContext.Context.Request.Path">Sign In</a></li>
                }
                </ul>
          </div><!-- /.navbar-collapse -->
      </nav>
  </div>
</div>
<div class="container">
        @if(@Model.Messages != null && @Model.Messages.Count > 0)
        {
            <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <ul>
            @foreach(var message in @Model.Messages){
                <li>
                @message
                </li>
            }
            </ul>
            </div>
        }

        @if(@Model.Errors != null && @Model.Errors.Count > 0)
        {
            <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <ul>
            @foreach(var error in @Model.Errors){
                <li>
                @error
                </li>
            }
            </ul>
            </div>
        }
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; SuperSimpleSuperRad (Triple S Rad) 2013</p>
        </footer>
    </div><!--/.container-->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>

