@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Search and browse Magic:the gathering database and manage your card inventory." />
    <title>Magic the gathering open database and tools - MtgDb.Info</title>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
    <link href="~/content/css/select2.css" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="~/content/css/mtgdb.css" rel="stylesheet" />
  </head>
  <body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  	<div class="container">
		<div class="navbar-header">
	  		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main-menu">
	        	<span class="sr-only">Toggle navigation</span>
	        	<i class="fa fa-align-justify"></i>
      		</button>
	  	<a class="navbar-brand" href="/">M:tgDb</a>
	  </div>
	  <!-- Collect the nav links, forms, and other content for toggling -->
	  <div class="collapse navbar-collapse" id="navbar-main-menu">
	        <ul class="nav navbar-nav">
                <li @(Model.ActiveMenu == "sets" ? "class='active'":"")>
                	<a href="~/sets">
                		<i class="fa fa-book"></i>&nbsp;
                		Set Binders
                	</a>
                </li>
                <li @(Model.ActiveMenu == "search" ? "class='active'":"")>
                	<a href="~/search">
                		<i class="fa fa-search"></i>&nbsp;
                		Search
                	</a>
                </li>
	            @if(Model.Planeswalker != null)
	            {
    	           	<li @(Model.ActiveMenu == "mycards" ? "class='active'":"")>
                    	<a href="/mycards">
                    		<i class="fa fa-archive"></i>&nbsp;
                    		My Cards
                    	</a>
                    </li>
    				<li class="@(Model.ActiveMenu == "mydecks" ? "active":"")">
                    	<a href="/mydecks">
                    		<i class="fa fa-briefcase"></i>&nbsp;
                    		My Decks
                    	</a>
                    </li>
	            }
	        </ul>
	        <ul class="nav navbar-nav navbar-right" style="margin-right:10px;">
				<li @(Model.ActiveMenu == "faq" ? "class='active'":"")>
                	<a href="~/faq">
                		FAQ
                	</a>
                </li>
	            <li @(Model.ActiveMenu == "about" ? "class='active'":"")>
	            	<a href="~/about">
	            		About
	            	</a>
	            </li>
		        @if(@Model.Planeswalker != null)
		        {
		            <li class="dropdown @(Model.ActiveMenu == "planeswalker" || Model.ActiveMenu == "settings" ? "active":"")">
			            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
			            	Planeswalker: @Model.Planeswalker.Profile.Name
			            	&nbsp;<i class="fa fa-caret-down"></i>
			            </a>
			            <ul class="dropdown-menu">
			                <li><a href="/mycards"><i class="fa fa-archive"></i> My Cards</a></li>
			                <li><a href="/mydecks"><i class="fa fa-briefcase"></i> My Decks</a></li>
			                <li class="divider"></li>
		                    @if(Model.Planeswalker.InRole("admin"))
		                    {
		                        <li><a href="/cr">Change Requests</a></li>
		                        <li class="divider"></li>
		                    }
			                <li><a href="/pw/@Model.Planeswalker.UserName"><i class="fa fa-user"></i> Profile</a></li>
			                <li><a href="~/settings/"><i class="fa fa-gear"></i> Settings</a></li>
			                <li><a href="~/logout/?url=@Html.RenderContext.Context.Request.Path"><i class="fa fa-power-off"></i> Sign Out</a></li>
			            </ul>
		            </li>
		        }
		        else
		        {
                <li @(Model.ActiveMenu == "signin" ? "class='active'":"")>
                	<a href="~/logon?url=@Html.RenderContext.Context.Request.Path">
                		<i class="fa fa-user"></i>&nbsp;
                		Sign In
                	</a>
                </li>
				}
	        </ul>
	    </div><!-- /.navbar-collapse -->
	</div><!---/.container-->
</nav>
@if(IsSectionDefined("Top"))
{
	<div class="top-section">
		<div class="container">
		@if(@Model.Information != null && @Model.Information.Count > 0)
		{
		    <div class="alert alert-info alert-dismissable">
			    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			    <ul>
			    @foreach(var info in @Model.Information)
			    {
			        <li>
			        @info
			        </li>
			    }
			    </ul>
		    </div>
		}

		@if(@Model.Messages != null && @Model.Messages.Count > 0)
		{
		    <div class="alert alert-success alert-dismissable">
			    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			    <ul>
			    @foreach(var message in @Model.Messages){
			        <li>
			        @message
			        </li>
			    }
			    </ul>
		    </div>
		}

		@if(@Model.Warnings != null && @Model.Warnings.Count > 0)
		{
		    <div class="alert alert-warning alert-dismissable">
			    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			    <ul>
			    @foreach(var warning in @Model.Warnings)
			    {
			        <li>
			        @warning
			        </li>
			    }
			    </ul>
		    </div>
		}

		@if(@Model.Errors != null && @Model.Errors.Count > 0)
		{
		    <div class="alert alert-danger alert-dismissable">
			    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			    <ul>
			    @foreach(var error in @Model.Errors){
			        <li>
			        @error
			        </li>
			    }
		    </ul>
		    </div>
		}
		@RenderSection("Top", required: false)
		</div><!--/.top-section-->
	</div><!--/.container-->
}
<div class="container">
    @RenderBody()
    <hr />
    <footer>
    	<div class="row">
	    	<div class="col-md-8">
	        	<p>&copy; 3xS-Rad @DateTime.Now.Year.ToString() | <a href="~/terms">Terms</a> | <a href="~/FAQ">FAQ</a> | <a href="~/about">About</a>- Version: 0.1a</p>
	        </div>
        	<div class="col-md-4">
		        <a href="https://twitter.com/mtgdb" class="twitter-follow-button" data-show-count="false">Follow</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			</div>
        </div>
        <div class="row">
        	<div class="col-md-12">
        		<small>All card text and images provided are copyrighted by <a href="https://www.wizards.com/Magic/">Wizards of the Coast</a>.</small><br/>
        		<small>The api and/or web applications on this domain are not in anyway affiliated with <a href="https://www.wizards.com/Magic/">Wizards of the Coast</a>. Thank you for creating such an awesome game!</small>
        	</div>
		</div>
    </footer>
</div><!--/.container-->
<script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="~/content/javascript/select2.min.js"></script>
<script src="~/content/javascript/spin.min.js"></script>
<script src="~/content/javascript/mtgdb.info.js"></script>
</body>
</html>

