@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<MtgDb.Info.CardSetList>
<select id="set_list" onchange="go();">
	@foreach(string type in Model.GetSetTypes())
	{
	<optgroup label="@type">
		@foreach(var set in Model.GetSetsInType(type))
		{
			if(Model.ActiveSet == set.Id)
		    {
		        <option value="@set.Id" selected>@set.Name</option>
		    }
		    else
		    {
		        <option value="@set.Id">@set.Name</option>
		    }
		}
	</optgroup>
	}
</select>