@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<MtgDb.Info.BookModel>
@{
  Layout = "_Layout.cshtml";
  var isBook = "";

  if(Model.Cards.Count == 0 || Model.Cards.Count == null){
  	Model.Page = 1;
  }

 if(Model.Cards.Count > 0){
 	isBook = "book";
 }

 double PageMax = Math.Ceiling(Model.Set.Total/9.0);

}
@section Top{
  @Html.Partial("_SetsDropDown", Model.SetList)
}

<div class="row">
    <div class="panel panel-default book-panel">
        <div class="panel-heading">
      		<div class="row">
	            <div class="col-md-4">
	            	@if(Model.Page != null && Model.Page != 1){
		            	<a class="btn btn-default btn-block" href="?Page=@Model.PrevPage">
		            		<i class="fa fa-chevron-left pull-left"></i> Previous Page
		            	</a>
	            	}
	            </div>
				<div class="col-md-4">
	            	<input class="form-control page-label" type="text" placeholder="Page @Model.Page of @PageMax" disabled>
	            </div>
				<div class="col-md-4">
	                @if(Model.Page != PageMax)
	                {
		            	<a class="btn btn-default btn-block" href="?Page=@Model.NextPage">
		            		Next Page <i class="fa fa-chevron-right pull-right"></i>
		            	</a>
	                }
	            </div>
			</div>
        </div>
        <div class="panel-body @isBook">
        @if(Model.Page != null && Model.Cards.Count > 0)
        {
            @Html.Partial("_Cards", Model.Cards.ToArray())
        }
        else
        {
            <div class="alert alert-warning book-alert">
                <i class="fa fa-warning"></i> <strong>Hmmm...</strong> There are no cards for this page! Try browsing the <a href="/sets">sets</a>.
            </div>
        }
        </div>
        <div class="panel-footer">
            <div class="row">
	            <div class="col-md-4">
	            	@if(Model.Page != null && Model.Page != 1){
		            	<a class="btn btn-default btn-block" href="?Page=@Model.PrevPage">
		            		<i class="fa fa-chevron-left pull-left"></i> Previous Page
		            	</a>
	            	}
	            </div>
				<div class="col-md-4">
	            	<input class="form-control page-label" type="text" placeholder="Page @Model.Page of @PageMax" disabled>
	            </div>
				<div class="col-md-4">
	                @if(Model.Page != PageMax)
	                {
		            	<a class="btn btn-default btn-block" href="?Page=@Model.NextPage">
		            		Next Page <i class="fa fa-chevron-right pull-right"></i>
		            	</a>
	                }
	            </div>
			</div>
        </div><!--/.panel-footer-->
    </div><!--/.panel.book-->
</div><!--/.row-->
