@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<MtgDb.Info.BookModel>
@{
  Layout = "_Layout.cshtml";
  var isBook = "";

  if(Model.Cards.Count == 0 || Model.Cards.Count == null){
  	Model.Page = 1;
  }

 if(Model.Cards.Count > 0){
 	isBook = "book";
 }

 int PageMax = Convert.ToInt32(Math.Ceiling(Model.Set.Total/9.0));

}
@section Top{
	<div class="col-md-6 col-md-offset-3">
  		@Html.Partial("_SetsDropDown", Model.SetList)
  	</div>
}

<div class="row">
    <div class="panel panel-default book-panel">
        <div class="panel-heading">
      		<div class="row">
	            <div class="col-md-4">
	            	@if(Model.Page != null && Model.Page != 1){
		            	<a class="btn btn-default btn-block block-left" href="?Page=@Model.PrevPage">
		            		<i class="fa fa-chevron-left pull-left"></i> Previous Page
		            	</a>
	            	}
	            </div>
				<div class="col-md-4">
	            	<input class="form-control page-label" type="text" placeholder="Page @Model.Page of @PageMax" disabled>
	            </div>
				<div class="col-md-4">
	                @if(Model.Page != PageMax)
	                {
		            	<a class="btn btn-default btn-block block-right" href="?Page=@Model.NextPage">
		            		Next Page <i class="fa fa-chevron-right pull-right"></i>
		            	</a>
	                }
	            </div>
			</div>
        </div>
        <div class="panel-body @isBook">
        @if(Model.Page != null && Model.Cards.Count > 0)
        {
            @Html.Partial("_Cards", Model.Cards.ToArray())
        }
        else
        {
            <div class="alert alert-warning book-alert">
                <i class="fa fa-warning"></i> <strong>Hmmm...</strong> There are no cards for this page! Try browsing the <a href="/sets">sets</a>.
            </div>
        }
        </div>
        <div class="panel-footer">
            <div class="row">
	            <div class="col-md-12">
	            	<div class="center">
		            	<ul class="pagination pagination-sm">
		            	@if(Model.Page > 1)
		            	{
		            		<li><a href="?Page=@Model.PrevPage"><i class="fa fa-chevron-left"></i></a></li>
		            	}
		            	else
		            	{
		            		<li class="disabled"><a href=""><i class="fa fa-chevron-left"></i></a></li>
		            	}
		            	@for(int idx = 1; idx <= PageMax; idx++)
		            	{
		            		if(PageMax > 26 && idx == 14 && (Model.Page <= 12 || Model.Page >= PageMax - 12)) // beginning or end of large set
		            		{
		            			<li class="disabled"><a href="">...</a></li>
		            			idx = PageMax - 13;
		            		}
		            		else if(PageMax > 26 && idx == 11 && (Model.Page >= 13 && Model.Page <= PageMax - 12)) //middle of large set
		            		{
		            			if(Model.Page != 13)
		            			{
		            				<li class="disabled"><a href="">...</a></li>
		            			}
		            			<li><a href="?Page=@(Model.Page - 2)">@(Model.Page - 2)</a></li>
		            			<li><a href="?Page=@(Model.Page - 1)">@(Model.Page - 1)</a></li>
		            			<li class="active"><a href="?Page=@Model.Page">@Model.Page<span class="sr-only">(current)</span></a></li>
		            			<li><a href="?Page=@(Model.Page + 1)">@(Model.Page + 1)</a></li>
		            			<li><a href="?Page=@(Model.Page + 2)">@(Model.Page + 2)</a></li>
		            			if(Model.Page != PageMax - 12)
		            			{
		            				<li class="disabled"><a href="">...</a></li>
		            			}
		            			idx = PageMax - 10;
		            		}
		            		else if(idx == Model.Page) //active page
		            		{
		            			<li class="active"><a href="?Page=@idx">@idx<span class="sr-only">(current)</span></a></li>
		            		}
		            		else //page
		            		{
		            			<li><a href="?Page=@idx">@idx</a></li>
		            		}
		            	}
		            	@if(Model.Page != PageMax)
		            	{
		            		<li><a href="?Page=@Model.NextPage"><i class="fa fa-chevron-right"></i></a></li>
		            	}
		            	else
		            	{
		            		<li class="disabled"><a href=""><i class="fa fa-chevron-right"></i></a></li>
		            	}
		            	</ul>
		            </div>
	            </div>
			</div>
        </div><!--/.panel-footer-->
    </div><!--/.panel.book-->
</div><!--/.row-->
<br />
<div style="width:100%;text-align:center;">
 <a class="btn btn-default btn-info" href="/cards/new?setId=@Model.Set.Id" role="button">
 <i class="fa fa-comment"></i>Add missing card</a>
 <a class="btn btn-default btn-info" href="/sets/@Model.Set.Id/change" role="button">
 <i class="fa fa-comment"></i>Submit Card Set Change</a>
</div>
