@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<MtgDb.Info.CardModel>
@{
  Layout = "_Layout.cshtml";
}
@section Top{
    <div class="t_section">
    <h1>@Model.Card.Name <small>(<a href="~/sets/@Model.Card.CardSetId?Page=@Model.Page">@Model.Card.CardSetName</a>)
    </small></h1>
    @if(Model.Card.Flavor != null && Model.Card.Flavor != "")
    {
      <blockquote><p>@Model.Card.Flavor</p></blockquote>
    }
    </div>
}
 
<div style="width:1200px;">
    <div id="card_@Model.Card.Id" class="card">
        @{
            string hiRes = string.Format("https://api.mtgdb.info/content/hi_res_card_images/{0}.jpg", @Model.Card.Id);
            <a href="@hiRes"><img src="@Model.Card.CardImage"/></a><br /><br style="clear:both"/>
        }

        @if(@Model.Planeswalker != null)
        {
            
            <button type="button" class="btn btn-danger" onclick="minusCard(@Model.Card.Id);">-</button>
            <input id="@Model.Card.Id" type="text" style="width:30px;" placeholder="0" value="@Model.Amount" 
                    onkeyup="changeAmount(@Model.Card.Id);" />
            <button type="button" class="btn btn-success" onclick="addCard(@Model.Card.Id);">+</button>
            
        }
    </div>
    <div class="card_info">
    <table class="table-hover">
    <tr style="padding:10px;">
        <td><b>Multiverse #:</b></td>
        <td>@Model.Card.Id</td>
    </tr>
    <tr>
        <td><b>Set #:</b></td>
        <td>@Model.Card.SetNumber</td>
    </tr>
    <tr>
        <td><b>Released:</b></td>
        <td>@Model.Card.ReleasedAt</td>
    </tr>
    <tr>
        <td><b>Color(s):</b></td>
        <td>
        @foreach(string color in @Model.Card.Colors){
            @Html.Raw(RenderHtml.Color(color))
        }
        </td>
    </tr>
    <tr>
        <td><b>Mana Cost:</b></td>
        <td>@Html.Raw(RenderHtml.Mana(Model.Card.ManaCost))</td>
    </tr>
    <tr>
        <td><b>Converted Cost:</b></td>
        <td><span class="badge">@Model.Card.ConvertedManaCost</span></td>
    </tr>
    <tr>
        <td><b>Type:</b></td>
        <td>@Model.Card.Type - @Model.Card.SubType</td>
    </tr>
    <tr>
        <td><b>Text:</b></td>
        <td>@Html.Raw(RenderHtml.Text(@Model.Card.Description))</td>
    </tr>
    <tr>
        <td><b>Power:</b></td>
        <td><span class="label label-success">@Model.Card.Power</span></td>
    </tr>
    <tr>
        <td><b>Toughness:</b></td>
        <td><span class="label label-primary">@Model.Card.Toughness</span></td>
    </tr>
    <tr>
        <td><b>Artist:</b></td>
        <td>@Model.Card.Artist</td>
    </tr>
    
     <tr>
        <td><b>Prints:</b></td>
        <td>
        @if(@Model.Prints != null && @Model.Prints.Length > 0)
        {
            foreach(Card card in @Model.Prints){
                <a href="~/cards/@card.Id">@card.CardSetName</a><br />
            }
        }
        </td>
    </tr>
    </table>
    </div>
    <br style="clear:both;" />
</div>
<div>
    <h4>Formats</h4>
    @if(Model.Card.Formats != null && Model.Card.Formats.Length > 0)
    {
        <table class="table table-condensed table-hover">
        @foreach(var format in Model.Card.Formats)
        {
            <tr>
                <td>
                @format.Name
                </td>
                <td> 
                @format.Legality
                </td>
            </tr>
        }
        </table>
    }
    else
    {
        <p>This card has no format data.</p>

    }
</div>
<div>
    <h4>Rulings</h4>
    @if(Model.Card.Rulings != null && Model.Card.Rulings.Length > 0)
    {
        <table class="table table-condensed table-hover">
        @foreach(var rule in Model.Card.Rulings)
        {
            <tr>
                <td>
                @rule.ReleasedAt.ToShortDateString()
                </td>
                <td>
                @rule.Rule
                </td>
            </tr>
        }
        </table>
    }
    else
    {
        <p>This card has no rulings.</p>
    }
</div>

 <p>
 <a class="btn btn-default" href="/cards/@Model.Card.Id/change" role="button">Change Request</a>
 <a class="btn btn-default" href="/cards/@Model.Card.Id/logs" role="button">Change Logs</a>
 </p>

