@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<MtgDb.Info.CardModel>
@{
  Layout = "_Layout.cshtml";
}
<h1>@Model.Card.Name <small>(<a href="~/sets/@Model.Card.CardSetId">@Model.Card.CardSetName</a>)</small></h1>
@if(Model.Card.Flavor != null && Model.Card.Flavor != "")
{
  <blockquote><p>@Model.Card.Flavor</p></blockquote>
}
<div style="width:1200px;">
    <div style="float:left;width:300px;text-align:center;">
        <img src="@Model.Card.CardImage" /><br /><br />
        @if(@Model.User != null)
        {
            <button type="button" class="btn btn-danger">-</button>
            <input type="text" style="width:30px;" placeholder="0" />
            <button type="button" class="btn btn-success">+</button>
        }
    </div>
    <div style="float:left;margin-left:10px;width:700px;">
    <table class="table-hover">
    <tr>
        <td><b>Multiverse #:</b></td>
        <td>@Model.Card.Id</td>
    </tr>
    <tr>
        <td><b>Set #:</b></td>
        <td>@Model.Card.SetNumber</td>
    </tr>
    <tr>
        <td><b>Color(s):</b></td>
        <td>
        @foreach(string color in @Model.Card.Colors){
                @color <br />
        }
        </td>
    </tr>
    <tr>
        <td><b>Mana Cost:</b></td>
        <td>@Model.Card.ManaCost</td>
    </tr>
    <tr>
        <td><b>Converted Cost:</b></td>
        <td>@Model.Card.ConvertedManaCost</td>
    </tr>
    <tr>
        <td><b>Type:</b></td>
        <td>@Model.Card.Type - @Model.Card.SubType</td>
    </tr>
    <tr>
        <td><b>Text:</b></td>
        <td>@Model.Card.Description</td>
    </tr>
    <tr>
        <td><b>Power:</b></td>
        <td>@Model.Card.Power</td>
    </tr>
    <tr>
        <td><b>Toughness:</b></td>
        <td>@Model.Card.Toughness</td>
    </tr>
    <tr>
        <td><b>Artist:</b></td>
        <td>@Model.Card.Artist</td>
    </tr>

     <tr>
        <td><b>Prints:</b></td>
        <td>
        @foreach(Card card in @Model.Prints){
            <a href="~/cards/@card.Id">@card.CardSetName</a><br />
        }
        </td>
    </tr>
    </table>
    </div>
    <br style="clear:both;" />
</div>
<div>
    <h4>Rulings</h4>
    @if(Model.Card.Rulings != null && Model.Card.Rulings.Length > 0)
    {
        <table class="table table-condensed table-hover">
        @foreach(var rule in Model.Card.Rulings)
        {
            <tr>
                <td>
                @rule.ReleasedAt.ToShortDateString()
                </td>
                <td>
                @rule.Rule
                </td>
            </tr>
        }
        </table>
    }
    else
    {
        <p>This card has no rulings.</p>

    }
</div>