@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<MtgDb.Info.PlaneswalkerModel>
@using System.Collections.Generic;
@using System.Linq;
@using  MtgDb.Info;

@{
  Layout = "_Layout.cshtml";
}

@section Top
{
  	@{
  	string Possessive = (Model.Planeswalker.Profile.Name.EndsWith("s") ? "'" : "'s");
  	string PossessiveName = string.Format("{0}{1}",@Model.Planeswalker.Profile.Name,@Possessive);
  	}
	<h4><i class="fa fa-archive"></i> @PossessiveName Cards</h4>
}
<input type="hidden" id="active_set" value="@Model.SetId" />
<input type="hidden" id="active_block" value="@Model.Block.Replace(" ",string.Empty)" />
<ul class="nav nav-tabs heading-tabs">
@foreach(KeyValuePair<string, int> key in Model.Blocks.Reverse())
{
    string blockId = key.Key.Replace(" ",string.Empty);
    string defaultSetId = @Model.DefaultSet(key.Key);
    <li class="@(key.Key == Model.Block ? "active" : "")">
        <a href="/mycards/@defaultSetId">
            @key.Key
            <span id="@blockId" class="badge">@key.Value</span>
        </a>
    </li>
}
</ul>
<div class="panel panel-default tab-panel">
    <div class="panel-heading">

    </div><!--/.panel-heading-->
    <div class="panel-body">
        <ul class="nav nav-tabs heading-tabs">
        @foreach(CardSet set in Model.Sets.OrderBy(n => n.ReleasedAt))
        {
            string imgUrl = string.Format("https://api.mtgdb.info/content/set_images/symbols/{0}_sym.png",set.Id.ToLower());
            <li class="set-tab @(set.Id == Model.SetId ? "active" : "")">
                @{ set.Block = set.Block ?? set.Type; }
                <a href="/mycards/@set.Id/" data-toggle="tooltip" data-placement="top" title="@set.Name">
                    <img src="@imgUrl"/>
                </a>
            </li>
        }
        </ul><!--/.nav-tabs-->
        <div class="panel panel-default tab-panel">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-right">
                            <span>Show Cards: </span>
                            <div class="btn-group">
                              <a href="?" type="button" class="btn btn-default @(Model.Show ? "":"active")">Owned</a>
                              <a href="?show=true" type="button" class="btn btn-default @(Model.Show ? "active":"")">Full Set</a>
                            </div>
                        </div>  
                    </div>
                </div>
            </div><!--/.panel-heading-->
            <div class="panel-body">
            @foreach(var cardInfo in Model.Cards)
            {
                string id = string.Format("card_{0}", cardInfo.Card.Id);
                string valueId = string.Format("value_{0}", cardInfo.Card.Id);
                string blockId = Model.Block.Replace(" ", string.Empty);
                string description = @cardInfo.Card.Description.Replace("\"","'");
                string name = @cardInfo.Card.Name.Replace("\"","'");
                string color = (cardInfo.Amount > 0 ? "" : "dont-own");

                <!--input type="hidden" id="@cardInfo.Card.Id" value="@cardInfo.Amount" /-->
                string popoverTitle = string.Format("<strong>{0}</strong> - {1} ({2})",@cardInfo.Card.Name,@cardInfo.Card.ManaCost,@cardInfo.Card.ConvertedManaCost);
                string popoverContent = string.Format("<em>{0} - {1}</em><br/>{2} - {3}",@cardInfo.Card.Type,@cardInfo.Card.SubType,@cardInfo.Card.CardSetName,@cardInfo.Card.Rarity);
                <div id="@id" class="my-card" data-container="body" data-toggle="popover" data-placement="auto top" data-content="@popoverContent" data-title="@popoverTitle">
                    <a href="~/cards/@cardInfo.Card.Id">
                        <img id="img_@cardInfo.Card.Id" class="@color" src="@cardInfo.Card.CardImage" />
                    </a>
                    <div class="card-amount card-amount-xs">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <a class="btn btn-danger btn-xs" type="button" onclick="minusCard(@cardInfo.Card.Id);"><i class="fa fa-minus"></i></a>
                            </span>
                            <input type="text" class="form-control" id="@cardInfo.Card.Id" type="text" onkeyup="changeAmount(@cardInfo.Card.Id);" placeholder="0" value="@cardInfo.Amount"/>
                            <span class="input-group-btn">
                                <a class="btn btn-success btn-xs" type="button" onclick="addCard(@cardInfo.Card.Id);"><i class="fa fa-plus"></i></a>
                            </span>
                        </div><!-- /input-group -->
                    </div><!--/.card-amount-->
                </div><!--/.my-card -->
            }
            </div><!--/.panel-body-->
        </div><!--/.tab-panel-->
    </div><!--/.panel-body-->
    <div class="panel-footer">

    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
    	<h3 class="panel-title">Collection Stats</h3>
    </div><!--/.panel-heading-->
	<div class="panel-body">
    	<p><strong>Unique cards:</strong> <span id="unique">@Model.TotalCards</span></p>
    	<p><strong>Total cards:</strong> <span id="total">@Model.TotalAmount</span></p>
  	</div>
</div>
