@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<MtgDb.Info.PlaneswalkerModel>
@using System.Collections.Generic;
@using System.Linq;
@using  MtgDb.Info;

@{
  Layout = "_Layout.cshtml";
}
<h4>Your Library</h4>
<div class="tab-container" id="outer-container">
    <ul class='etabs'>
        @foreach(KeyValuePair<string, int> k in Model.Blocks)
        {
            string c = k.Key == Model.Block ? "active" : "";
            <li class='tab @c'>
                <a href="~/@Model.Planeswalker.UserName/blocks/@k.Key/cards/">
                    @k.Key
                    <span class="badge">@k.Value</span>
                </a>
            </li>
        }
    </ul>
     <div class="panel-container">
        <div id="nested-tab-1">
            <div class="tab-container" id="outer-container">
    <ul class='etabs'>
    @foreach(CardSet set in Model.Sets)
    {
        string c = set.Id == Model.SetId ? "active" : "";
        <li class='tab @c'>
            <a href="~/@Model.Planeswalker.UserName/blocks/@set.Block/cards/@set.Id">
                @set.Name
                <span class="badge">@Model.Counts[set.Id]</span>
            </a>
        </li>
    }
    </ul>
    <div class="panel-container">
        <div id="nested-tab-1">
        @foreach(var cardInfo in Model.Cards)
        {
            <div style="float:left;">
            <div style="text-align:center;">
            <a href="~/cards/@cardInfo.Card.Id" class="thumbnail tool" data-toggle="tooltip" data-placement="top" 
            title="<b>@cardInfo.Card.Name</b> #@cardInfo.Card.SetNumber<br /> @cardInfo.Card.Description <br /><span class='label label-primary'>@cardInfo.Card.Power &#47; @cardInfo.Card.Toughness</span><br /><b>You have:</b> <span class='badge'>@cardInfo.Amount</span><br />" data-html="true">
                <img src="@cardInfo.Card.CardImage" style="width:111px;height:155px;" />
            </a>
           </div>
           </div><!--/span-->
        }
        </div>
    <br style="clear:both;" />
    </div>
</div> 
        </div>
     </div>
</div>
<script>
    $('.tool').tooltip();
</script>
<br style="clear:both;" />
