@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<MtgDb.Info.PlaneswalkerModel>
@{
  Layout = "_Layout.cshtml";
}
@section Top
{
    @if(Model.Profile != null)
    {
  	    string Possessive = (Model.Profile.Name.EndsWith("s") ? "'" : "'s");
  	    string PossessiveName = string.Format("{0}{1}",@Model.Profile.Name,@Possessive);
  	

   	    <h1><i class="fa fa-user"></i> @PossessiveName Profile</h1>
   	}
}
@if(Model.Profile != null)
{
  <p><strong>Joined:</strong> @Model.Profile.CreatedAt.ToShortDateString()</p>

  if(@Model.UserCards != null && @Model.UserCards.Length > 0)
  {
  <p><strong>Unique Cards Owned:</strong> @Model.UserCards.Length</p>
  }
  else
  {
  <p><em>@Model.Profile.Name has not added any cards to their collection.</em></p>
  }
}


