@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<MtgDb.Info.PlaneswalkerModel>
@{
  Layout = "_Layout.cshtml";
}

@if(Model.Profile != null)
{
  <h1>@Model.Profile.Name</h1>

  <p><strong>Joined:</strong> @Model.Profile.CreatedAt.ToShortDateString()</p>

  if(@Model.UserCards != null && @Model.UserCards.Length > 0)
  {
  <p><strong>Unique Cards Owned:</strong> @Model.UserCards.Length</p>
  }
}


