@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<MtgDb.Info.SearchModel>
@{
  Layout = "_Layout.cshtml";
}

<div class="row">
  <div class="col-lg-6">
  <form action="/search" method="post">
    <h3>Card Search:</h3>
    <div class="input-group">
      <input type="text" name="Term" class="form-control" placeholder="Enter name of card or part of card name" required autofocus/>
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Search</button>
      </span>
    </div><!-- /input-group -->
  </form>
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

@if(Model.Cards != null && Model.Cards.Length > 0)
{
    <h4><small>Searched for:</small> @Model.Term <small>Results:</small> @Model.Cards.Length</h4>
    <hr />

    foreach(Card card in Model.Cards)
    {
        <div class="results">
        <div style="height:50px;text-align:center;"><b>@card.Name</b></div>
        <a href="~cards/@card.Id" class="thumbnail">
            <img src="@card.CardImage" style="width:111px;height:155px;"/>
        </a>
        @card.CardSetName
        </div>
    }

    <br style="clear:both;"/>
}
else if(Model.Term != null)
{
    <h4><small>Searched for:</small> @Model.Term <small>Results:</small>0</h4>
    <hr />
}

 


