@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<MtgDb.Info.SearchModel>
@{
  Layout = "_Layout.cshtml";
}
@section Top{
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
	      	<h3 class="search-title">
	        	<i class="fa fa-search"></i>
	        	Card Search &nbsp;
	        	<div class="btn-group pull-right">
	        		<button type="button" id="basic-search" class="btn btn-primary active">Basic</button>
	        		<button type="button" id="advanced-search" class="btn btn-default">Advanced</button>
	        	</div>
	        </h3>
	        <form id="basic-search-form" action="/search" method="post">
		        <div class="input-group">
		          <input type="text" name="Term" class="form-control" placeholder="Enter full or partial card name" required autofocus/>
		          <span class="input-group-btn">
		            <button class="btn btn-default" type="submit">Search</button>
		          </span>
		        </div><!-- /input-group -->
		  	</form><!-- /#basic-search-form -->
			<form id="advanced-search-form" action="/search" method="post" style="display:none;">
				<input id="is-advanced" class="hidden" type="checkbox" name="Advanced" value="true" />
				<div class="form-group">
    				<label for="name">Name</label>
					<input id="name" class="form-control" type="text" placeholder="Name contains..." />
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
		    				<label for="type">Type</label>
							<input id="type" class="form-control" type="text" placeholder="Type contains..." />
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
		    				<label for="subtype">Subtype</label>
							<input id="subtype" class="form-control" type="text" placeholder="Subtype contains..." />
						</div>
					</div>
				</div>
				<div class="form-group">
    				<label for="description">Text</label>
					<input id="description" class="form-control" type="text" placeholder="Card text contains..." />
				</div>
				<input id="advanced-search-term" class="form-control" type="hidden" name="Term"/>
				<button class="btn btn-default pull-right" type="submit">Search</button>
	      	</form>
      </div><!-- /.col-md-6 -->
    </div><!-- /.row -->
}
@if(@Model.Term != null)
{
	<div class="row">
		<div class="col-md-12">
			<span>Found <strong>@Model.Cards.Count</strong> @(Model.Cards.Count != 1 ? "cards" : "card") matching <strong>@Model.Term</strong>...</span>
		</div>
	</div>
}
@if(Model.Cards != null && Model.Cards.Count > 0)
{
	<div class="row">
		<div class="col-md-12 center">
		    @foreach(CardInfo card in Model.Cards)
		    {
	    	string color = (Model.Planeswalker == null || card.Amount > 0) ? "" : "dont-own";
	    	string popoverTitle = string.Format("<strong>{0}</strong> - {1} ({2})",@card.Card.Name,@card.Card.ManaCost,@card.Card.ConvertedManaCost);
   			string popoverContent = string.Format("<em>{0} - {1}</em><br/>{2} - {3}",@card.Card.Type,@card.Card.SubType,@card.Card.CardSetName,@card.Card.Rarity);
	       	<div class="search-result" data-container="body" data-toggle="popover" data-placement="auto top" data-content="@popoverContent" data-title="@popoverTitle">
	        	<a href="~cards/@card.Card.Id" class="@color">
	            	<img src="@card.Card.CardImage"/>
	        	</a>
	    	</div>
		    }
	    </div>
	</div>
}

 


