@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<MtgDb.Info.SearchModel>
@{
  Layout = "_Layout.cshtml";
}
@section Top{
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
      <form action="/search" method="post">
        <h3>
        	<i class="fa fa-search"></i>
        	Card Search
        </h3>
        Advanced<input type="checkbox" name="Advanced" value="true" />
        <div class="input-group">
          <input type="text" name="Term" class="form-control" placeholder="Enter full or partial card name" required autofocus/>
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Search</button>
          </span>
        </div><!-- /input-group -->
      </form>
      </div><!-- /.col-md-6 -->
    </div><!-- /.row -->
}
@if(@Model.Term != null)
{
	<div class="row">
		<div class="col-md-12">
			<span>Found <strong>@Model.Cards.Count</strong> @(Model.Cards.Count != 1 ? "cards" : "card") matching <strong>@Model.Term</strong>...</span>
		</div>
	</div>
}
@if(Model.Cards != null && Model.Cards.Count > 0)
{
	<div class="row">
		<div class="col-md-12 center">
		    @foreach(CardInfo card in Model.Cards)
		    {
	    	string color = (Model.Planeswalker == null || card.Amount > 0) ? "" : "dont-own";
	    	string popoverTitle = string.Format("<strong>{0}</strong> - {1} ({2})",@card.Card.Name,@card.Card.ManaCost,@card.Card.ConvertedManaCost);
   			string popoverContent = string.Format("<em>{0} - {1}</em><br/>{2} - {3}",@card.Card.Type,@card.Card.SubType,@card.Card.CardSetName,@card.Card.Rarity);
	       	<div class="search-result" data-container="body" data-toggle="popover" data-placement="auto top" data-content="@popoverContent" data-title="@popoverTitle">
	        	<a href="~cards/@card.Card.Id" class="@color">
	            	<img src="@card.Card.CardImage"/>
	        	</a>
	    	</div>
		    }
	    </div>
	</div>
}

 


