@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<MtgDb.Info.SetsModel>
@{
  Layout = "_Layout.cshtml";
}
@section Top{
<h2 style="color:white;margin-left:50px;">Magic: the gathering sets</h2>
}
<div style="float:left;">
    <div>
    <h4>Core</h4>
    <ul class="setlist">
    @foreach(var set in Model.GetBlock("Core"))
    {
        string imgUrl = string.Format("http://api.mtgdb.info/content/set_images/symbols/{0}_sym.gif",set.Id.ToLower());

        <li><img src="@imgUrl" />
        <a href="~/sets/@set.Id">@set.Name</a>
        @if(Model.Planeswalker != null){<b>@Model.GetSetCount(@set.Id).ToString()</b>}
        Released:  @set.ReleasedAt.ToShortDateString()</li>
    }
    </ul>
    </div>

    <div>
    <h4>Non-Block</h4>
    <ul class="setlist">
    @foreach(var set in Model.GetBlock("Non-Block"))
    {
        string imgUrl = string.Format("http://api.mtgdb.info/content/set_images/symbols/{0}_sym.gif",set.Id.ToLower());

        <li><img src="@imgUrl" />
        <a href="~/sets/@set.Id">@set.Name</a> 
        @if(Model.Planeswalker != null){<b>@Model.GetSetCount(@set.Id).ToString()</b>}
        Released: @set.ReleasedAt.ToShortDateString()</li>

    }
    </ul>
    </div>
    <div>
    <h4>Duel Decks</h4>
    <ul class="setlist">
    @foreach(var set in Model.GetBlock("Duel Decks"))
    {
        string imgUrl = string.Format("http://api.mtgdb.info/content/set_images/symbols/{0}_sym.gif",set.Id.ToLower());

        <li><img src="@imgUrl" />
        <a href="~/sets/@set.Id">@set.Name</a> 
        @if(Model.Planeswalker != null){<b>@Model.GetSetCount(@set.Id).ToString()</b>}
        Released: @set.ReleasedAt.ToShortDateString()</li>
    }
    </ul>
    </div>
    <div>
    <h4>From the Vault</h4>
    <ul class="setlist">
    @foreach(var set in Model.GetBlock("From the vault"))
    {
        string imgUrl = string.Format("http://api.mtgdb.info/content/set_images/symbols/{0}_sym.gif",set.Id.ToLower());

        <li><img src="@imgUrl" />
        <a href="~/sets/@set.Id">@set.Name</a> 
        @if(Model.Planeswalker != null){<b>@Model.GetSetCount(@set.Id).ToString()</b>}
        Released: @set.ReleasedAt.ToShortDateString()</li>
    }
    </ul>
    </div>
    <div>
    <h4>Premium Deck Series</h4>
    <ul class="setlist">
    @foreach(var set in Model.GetBlock("Premium Deck Series"))
    {
        string imgUrl = string.Format("http://api.mtgdb.info/content/set_images/symbols/{0}_sym.gif",set.Id.ToLower());

        <li><img src="@imgUrl" />
        <a href="~/sets/@set.Id">@set.Name</a> 
        @if(Model.Planeswalker != null){<b>@Model.GetSetCount(@set.Id).ToString()</b>}
        Released: @set.ReleasedAt.ToShortDateString()</li>
    }
    </ul>
    </div>
    <div>
    <h4>Planechase</h4>
    <ul class="setlist">
    @foreach(var set in Model.GetBlock("Planechase"))
    {
        string imgUrl = string.Format("http://api.mtgdb.info/content/set_images/symbols/{0}_sym.gif",set.Id.ToLower());

        <li><img src="@imgUrl" />
        <a href="~/sets/@set.Id">@set.Name</a> 
        @if(Model.Planeswalker != null){<b>@Model.GetSetCount(@set.Id).ToString()</b>}
        Released: @set.ReleasedAt.ToShortDateString()</li>
    }
    </ul>
    </div>

    <div>
    <h4>Commander</h4>
    <ul class="setlist">
    @foreach(var set in Model.GetBlock("Commander"))
    {
        string imgUrl = string.Format("http://api.mtgdb.info/content/set_images/symbols/{0}_sym.gif",set.Id.ToLower());

        <li><img src="@imgUrl" />
        <a href="~/sets/@set.Id">@set.Name</a> 
        @if(Model.Planeswalker != null){<b>@Model.GetSetCount(@set.Id).ToString()</b>}
        Released: @set.ReleasedAt.ToShortDateString()</li>
    }
    </ul>
    </div>

    <div>
    <h4>Portal</h4>
    <ul class="setlist">
    @foreach(var set in Model.GetBlock("Portal"))
    {
        string imgUrl = string.Format("http://api.mtgdb.info/content/set_images/symbols/{0}_sym.gif",set.Id.ToLower());

        <li><img src="@imgUrl" />
        <a href="~/sets/@set.Id">@set.Name</a> 
        @if(Model.Planeswalker != null){<b>@Model.GetSetCount(@set.Id).ToString()</b>}
        Released: @set.ReleasedAt.ToShortDateString()</li>
    }
    </ul>
    </div>

    <div>
    <h4>Starter</h4>
    <ul class="setlist">
    @foreach(var set in Model.GetBlock("Starter"))
    {
       string imgUrl = string.Format("http://api.mtgdb.info/content/set_images/symbols/{0}_sym.gif",set.Id.ToLower());

       <li><img src="@imgUrl" />
       <a href="~/sets/@set.Id">@set.Name</a> 
       @if(Model.Planeswalker != null){<b>@Model.GetSetCount(@set.Id).ToString()</b>}
       Released: @set.ReleasedAt.ToShortDateString()</li>
    }
    </ul>
    </div>

    <div>
    <h4>Un-sets</h4>
    <ul class="setlist">
    @foreach(var set in Model.GetBlock("Un-sets"))
    {
        string imgUrl = string.Format("http://api.mtgdb.info/content/set_images/symbols/{0}_sym.gif",set.Id.ToLower());

        <li><img src="@imgUrl" />
        <a href="~/sets/@set.Id">@set.Name</a> 
        @if(Model.Planeswalker != null){<b>@Model.GetSetCount(@set.Id).ToString()</b>}
        Released: @set.ReleasedAt.ToShortDateString()</li>
    }
    </ul>
    </div>
</div>
<div style="float:left;margin-left:20px;">
    <h3>Expansions</h3>
   
    <div>
    <h4>Ice Age</h4>
    <ul class="setlist">
    @foreach(var set in Model.GetBlock("Ice Age"))
    {
        string imgUrl = string.Format("http://api.mtgdb.info/content/set_images/symbols/{0}_sym.gif",set.Id.ToLower());

        <li><img src="@imgUrl" />
        <a href="~/sets/@set.Id">@set.Name</a> 
        @if(Model.Planeswalker != null){<b>@Model.GetSetCount(@set.Id).ToString()</b>}
        Released: @set.ReleasedAt.ToShortDateString()</li>
    }
    </ul>
    </div>

    <div>
    <h4>Mirage</h4>
    <ul class="setlist">
    @foreach(var set in Model.GetBlock("Mirage"))
    {
        string imgUrl = string.Format("http://api.mtgdb.info/content/set_images/symbols/{0}_sym.gif",set.Id.ToLower());

        <li><img src="@imgUrl" />
        <a href="~/sets/@set.Id">@set.Name</a> 
        @if(Model.Planeswalker != null){<b>@Model.GetSetCount(@set.Id).ToString()</b>}
        Released: @set.ReleasedAt.ToShortDateString()</li>
    }
    </ul>
    </div>

    <div>
    <h4>Rath</h4>
    <ul class="setlist">
    @foreach(var set in Model.GetBlock("Rath"))
    {
        string imgUrl = string.Format("http://api.mtgdb.info/content/set_images/symbols/{0}_sym.gif",set.Id.ToLower());

        <li><img src="@imgUrl" />
        <a href="~/sets/@set.Id">@set.Name</a> 
        @if(Model.Planeswalker != null){<b>@Model.GetSetCount(@set.Id).ToString()</b>}
        Released: @set.ReleasedAt.ToShortDateString()</li>    
    }
    </ul>
    </div>

    <div>
    <h4>Artifacts</h4>
    <ul class="setlist">
    @foreach(var set in Model.GetBlock("Artifacts"))
    {
        string imgUrl = string.Format("http://api.mtgdb.info/content/set_images/symbols/{0}_sym.gif",set.Id.ToLower());

        <li><img src="@imgUrl" />
        <a href="~/sets/@set.Id">@set.Name</a> 
        @if(Model.Planeswalker != null){<b>@Model.GetSetCount(@set.Id).ToString()</b>}
        Released: @set.ReleasedAt.ToShortDateString()</li>
    }
    </ul>
    </div>

    <div>
    <h4>Masquerade</h4>
    <ul class="setlist">
    @foreach(var set in Model.GetBlock("Masquerade"))
    {
        string imgUrl = string.Format("http://api.mtgdb.info/content/set_images/symbols/{0}_sym.gif",set.Id.ToLower());

        <li><img src="@imgUrl" />
        <a href="~/sets/@set.Id">@set.Name</a> 
        @if(Model.Planeswalker != null){<b>@Model.GetSetCount(@set.Id).ToString()</b>}
        Released: @set.ReleasedAt.ToShortDateString()</li>
    }
    </ul>
    </div>

    <div>
    <h4>Invasion</h4>
    <ul class="setlist">
    @foreach(var set in Model.GetBlock("Invasion"))
    {
        string imgUrl = string.Format("http://api.mtgdb.info/content/set_images/symbols/{0}_sym.gif",set.Id.ToLower());

        <li><img src="@imgUrl" />
        <a href="~/sets/@set.Id">@set.Name</a> 
        @if(Model.Planeswalker != null){<b>@Model.GetSetCount(@set.Id).ToString()</b>}
        Released: @set.ReleasedAt.ToShortDateString()</li>
    }
    </ul>
    </div>

    <div>
    <h4>Odyssey</h4>
    <ul class="setlist">
    @foreach(var set in Model.GetBlock("Odyssey"))
    {
        string imgUrl = string.Format("http://api.mtgdb.info/content/set_images/symbols/{0}_sym.gif",set.Id.ToLower());

        <li><img src="@imgUrl" />
        <a href="~/sets/@set.Id">@set.Name</a> 
        @if(Model.Planeswalker != null){<b>@Model.GetSetCount(@set.Id).ToString()</b>}
        Released: @set.ReleasedAt.ToShortDateString()</li>
    }
    </ul>
    </div>

    <div>
    <h4>Onslaught</h4>
    <ul class="setlist">
    @foreach(var set in Model.GetBlock("Onslaught"))
    {
        string imgUrl = string.Format("http://api.mtgdb.info/content/set_images/symbols/{0}_sym.gif",set.Id.ToLower());

        <li><img src="@imgUrl" />
        <a href="~/sets/@set.Id">@set.Name</a> 
        @if(Model.Planeswalker != null){<b>@Model.GetSetCount(@set.Id).ToString()</b>}
        Released: @set.ReleasedAt.ToShortDateString()</li>
    }
    </ul>
    </div>

    <div>
    <h4>Mirrodin</h4>
    <ul class="setlist">
    @foreach(var set in Model.GetBlock("Mirrodin"))
    {
        string imgUrl = string.Format("http://api.mtgdb.info/content/set_images/symbols/{0}_sym.gif",set.Id.ToLower());

        <li><img src="@imgUrl" />
        <a href="~/sets/@set.Id">@set.Name</a> 
        @if(Model.Planeswalker != null){<b>@Model.GetSetCount(@set.Id).ToString()</b>}
        Released: @set.ReleasedAt.ToShortDateString()</li>
    }
    </ul>
    </div>

    <div>
    <h4>Kamigawa</h4>
    <ul class="setlist">
    @foreach(var set in Model.GetBlock("Kamigawa"))
    {
        string imgUrl = string.Format("http://api.mtgdb.info/content/set_images/symbols/{0}_sym.gif",set.Id.ToLower());

        <li><img src="@imgUrl" />
        <a href="~/sets/@set.Id">@set.Name</a> 
        @if(Model.Planeswalker != null){<b>@Model.GetSetCount(@set.Id).ToString()</b>}
        Released: @set.ReleasedAt.ToShortDateString()</li>
    }
    </ul>
    </div>

    <div>
    <h4>Ravnica</h4>
    <ul class="setlist">
    @foreach(var set in Model.GetBlock("Ravnica"))
    {
        string imgUrl = string.Format("http://api.mtgdb.info/content/set_images/symbols/{0}_sym.gif",set.Id.ToLower());

        <li><img src="@imgUrl" />
        <a href="~/sets/@set.Id">@set.Name</a> 
        @if(Model.Planeswalker != null){<b>@Model.GetSetCount(@set.Id).ToString()</b>}
        Released: @set.ReleasedAt.ToShortDateString()</li>
    }
    </ul>
    </div>

    <div>
    <h4>Time Spiral</h4>
    <ul class="setlist">
    @foreach(var set in Model.GetBlock("Time Spiral"))
    {
        string imgUrl = string.Format("http://api.mtgdb.info/content/set_images/symbols/{0}_sym.gif",set.Id.ToLower());

        <li><img src="@imgUrl" />
        <a href="~/sets/@set.Id">@set.Name</a> 
        @if(Model.Planeswalker != null){<b>@Model.GetSetCount(@set.Id).ToString()</b>}
        Released: @set.ReleasedAt.ToShortDateString()</li>
    }
    </ul>
    </div>

    <div>
    <h4>Lorwyn</h4>
    <ul class="setlist">
    @foreach(var set in Model.GetBlock("Lorwyn"))
    {
        string imgUrl = string.Format("http://api.mtgdb.info/content/set_images/symbols/{0}_sym.gif",set.Id.ToLower());

        <li><img src="@imgUrl" />
        <a href="~/sets/@set.Id">@set.Name</a> 
        @if(Model.Planeswalker != null){<b>@Model.GetSetCount(@set.Id).ToString()</b>}
        Released: @set.ReleasedAt.ToShortDateString()</li>
    }
    </ul>
    </div>

    <div>
    <h4>Shadowmoor</h4>
    <ul class="setlist">
    @foreach(var set in Model.GetBlock("Shadowmoor"))
    {
        string imgUrl = string.Format("http://api.mtgdb.info/content/set_images/symbols/{0}_sym.gif",set.Id.ToLower());

        <li><img src="@imgUrl" />
        <a href="~/sets/@set.Id">@set.Name</a> 
        @if(Model.Planeswalker != null){<b>@Model.GetSetCount(@set.Id).ToString()</b>}
        Released: @set.ReleasedAt.ToShortDateString()</li>
    }
    </ul>
    </div>

    <div>
    <h4>Alara</h4>
    <ul class="setlist">
    @foreach(var set in Model.GetBlock("Shards of Alara"))
    {
        string imgUrl = string.Format("http://api.mtgdb.info/content/set_images/symbols/{0}_sym.gif",set.Id.ToLower());

        <li><img src="@imgUrl" />
        <a href="~/sets/@set.Id">@set.Name</a> 
        @if(Model.Planeswalker != null){<b>@Model.GetSetCount(@set.Id).ToString()</b>}
        Released: @set.ReleasedAt.ToShortDateString()</li>
    }
    </ul>
    </div>

    <div>
    <h4>Zendikar</h4>
    <ul class="setlist">
    @foreach(var set in Model.GetBlock("Zendikar"))
    {
        string imgUrl = string.Format("http://api.mtgdb.info/content/set_images/symbols/{0}_sym.gif",set.Id.ToLower());

        <li><img src="@imgUrl" />
        <a href="~/sets/@set.Id">@set.Name</a> 
        @if(Model.Planeswalker != null){<b>@Model.GetSetCount(@set.Id).ToString()</b>}
        Released: @set.ReleasedAt.ToShortDateString()</li>
    }
    </ul>
    </div>

    <div>
    <h4>Scars of Mirrodin</h4>
    <ul class="setlist">
    @foreach(var set in Model.GetBlock("Scars of Mirrodin"))
    {
        string imgUrl = string.Format("http://api.mtgdb.info/content/set_images/symbols/{0}_sym.gif",set.Id.ToLower());

        <li><img src="@imgUrl" />
        <a href="~/sets/@set.Id">@set.Name</a> 
        @if(Model.Planeswalker != null){<b>@Model.GetSetCount(@set.Id).ToString()</b>}
        Released: @set.ReleasedAt.ToShortDateString()</li>
    }
    </ul>
    </div>

    <div>
    <h4>Innistrad</h4>
    <ul class="setlist">
    @foreach(var set in Model.GetBlock("Scars of Mirrodin"))
    {
        string imgUrl = string.Format("http://api.mtgdb.info/content/set_images/symbols/{0}_sym.gif",set.Id.ToLower());

        <li><img src="@imgUrl" />
        <a href="~/sets/@set.Id">@set.Name</a> 
        @if(Model.Planeswalker != null){<b>@Model.GetSetCount(@set.Id).ToString()</b>}
        Released: @set.ReleasedAt.ToShortDateString()</li>
    }
    </ul>
    </div>

    <div>
    <h4>Return to Ravnica</h4>
    <ul class="setlist">
    @foreach(var set in Model.GetBlock("Return to Ravnica"))
    {
        string imgUrl = string.Format("http://api.mtgdb.info/content/set_images/symbols/{0}_sym.gif",set.Id.ToLower());

        <li><img src="@imgUrl" />
        <a href="~/sets/@set.Id">@set.Name</a> 
        @if(Model.Planeswalker != null){<b>@Model.GetSetCount(@set.Id).ToString()</b>}
        Released: @set.ReleasedAt.ToShortDateString()</li>
    }
    </ul>
    </div>

    <div>
    <h4>Theros</h4>
    <ul class="setlist">
    @foreach(var set in Model.GetBlock("Theros"))
    {
        string imgUrl = string.Format("http://api.mtgdb.info/content/set_images/symbols/{0}_sym.gif",set.Id.ToLower());

        <li><img src="@imgUrl" />
        <a href="~/sets/@set.Id">@set.Name</a> 
        @if(Model.Planeswalker != null){<b>@Model.GetSetCount(@set.Id).ToString()</b>}
        Released: @set.ReleasedAt.ToShortDateString()</li>
    }
    </ul>
    </div>
</div>
<br style="clear:both;" />





