@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<MtgDb.Info.SetsModel>
@{
  Layout = "_Layout.cshtml";
}
@section Top{
	<h2>
		<i class="fa fa-book"></i>&nbsp;
  		Magic: the gathering Set Binders
  	</h2>
}
<div class="row">
	<div class="col-md-6 col-setlist">
	@foreach(string type in Model.GetSetTypes())
	{
		if(type != "Expansion") //Skip Expansions in this column
		{
		<h3>@type</h3>
  		foreach(string block in Model.GetBlocksInSetType(type))
  		{
		<h4>@block</h4>
		<ul class="setlist">
			@foreach(var set in Model.GetSetsInTypeAndBlock(type,block))
			{
				string imgUrl = string.Format("https://api.mtgdb.info/content/set_images/symbols/{0}_sym.png",set.Id.ToLower());
				string popoverContent = string.Format("<strong><img src=\"{0}\"/> {1}</strong> ({2})<br/><small>Released: {3}</small><br/>{4}",@imgUrl,@set.Name,@set.Id,@set.ReleasedAt.ToLongDateString(),@set.Description);
			<li>
				<span class="seticon"><img src="@imgUrl" /></span>
    			<a class="set-link" href="~/sets/@set.Id" data-container="body" data-toggle="popover" data-placement="auto top" data-content="@popoverContent">@set.Name</a>
    			@if(Model.Planeswalker != null){<strong>@Model.GetSetCount(@set.Id).ToString()</strong>}
    			<span class="released">Released  @set.ReleasedAt.ToShortDateString()</span>
    		</li>
			}
		</ul>
  		}
  		if(Model.GetBlocksInSetType(type).Length > 0 && Model.GetSetsInTypeAndBlock(type,null).Length > 0)
  		{
		<h4>Miscellaneous</h4>
		}
		<ul class="setlist">
			@foreach(var set in Model.GetSetsInTypeAndBlock(type,null))
			{
				string imgUrl = string.Format("https://api.mtgdb.info/content/set_images/symbols/{0}_sym.png",set.Id.ToLower());
				string popoverContent = string.Format("<strong><img src=\"{0}\"/> {1}</strong> ({2})<br/><small>Released: {3}</small><br/>{4}",@imgUrl,@set.Name,@set.Id,@set.ReleasedAt.ToLongDateString(),@set.Description);
			<li>
				<span class="seticon"><img src="@imgUrl" /></span>
    			<a class="set-link" href="~/sets/@set.Id" data-container="body" data-toggle="popover" data-placement="auto top" data-content="@popoverContent">@set.Name</a>
    			@if(Model.Planeswalker != null){<strong>@Model.GetSetCount(@set.Id).ToString()</strong>}
    			<span class="released">Released  @set.ReleasedAt.ToShortDateString()</span>
    		</li>
			}
		</ul>
		}
	}
	</div><!--/.col-setlist-->
	<div class="col-md-6 col-setlist">
	    <h3>Expansions</h3>
	    @foreach(string block in Model.GetBlocksInSetType("Expansion"))
  		{
		<h4>@block Cycle</h4>
			<ul class="setlist">
				@foreach(var set in Model.GetSetsInTypeAndBlock("Expansion",block))
				{
					string imgUrl = string.Format("https://api.mtgdb.info/content/set_images/symbols/{0}_sym.png",set.Id.ToLower());
					string popoverContent = string.Format("<strong><img src=\"{0}\"/> {1}</strong> ({2})<br/><small>Released: {3}</small><br/>{4}",@imgUrl,@set.Name,@set.Id,@set.ReleasedAt.ToLongDateString(),@set.Description);
				<li>
					<span class="seticon"><img src="@imgUrl" /></span>
        			<a class="set-link" href="~/sets/@set.Id" data-container="body" data-toggle="popover" data-placement="auto top" data-content="@popoverContent">@set.Name</a>
        			@if(Model.Planeswalker != null){<strong>@Model.GetSetCount(@set.Id).ToString()</strong>}
        			<span class="released">Released  @set.ReleasedAt.ToShortDateString()</span>
        		</li>
				}
			</ul>
		}
		<h4>Non-Block</h4>
		<ul class="setlist">
			@foreach(var set in Model.GetSetsInTypeAndBlock("Expansion",null))
			{
				string imgUrl = string.Format("https://api.mtgdb.info/content/set_images/symbols/{0}_sym.png",set.Id.ToLower());
				string popoverContent = string.Format("<strong><img src=\"{0}\"/> {1}</strong> ({2})<br/><small>Released: {3}</small><br/>{4}",@imgUrl,@set.Name,@set.Id,@set.ReleasedAt.ToLongDateString(),@set.Description);
			<li>
				<span class="seticon"><img src="@imgUrl" /></span>
    			<a class="set-link" href="~/sets/@set.Id" data-container="body" data-toggle="popover" data-placement="auto top" data-content="@popoverContent">@set.Name</a>
    			@if(Model.Planeswalker != null){<strong>@Model.GetSetCount(@set.Id).ToString()</strong>}
    			<span class="released">Released  @set.ReleasedAt.ToShortDateString()</span>
    		</li>
			}
		</ul>
	</div><!--/.col-setlist-->
</div><!--/.row-->





